<footer>
    <div class="box-content-main">
        <div class="box-content">
            <figure>
                <img loading="lazy" class="logo_img" id="logo-img" src="assets/img/logo_app.svg" alt="Logo" width="90px">
                <p>Ferretería | El Descanso</p>
            </figure>
            <div class="box-content-social">
                <a href="#" class="facebook"><i class="pi pi-facebook " ></i></a>
                <a href="#" class="instagram"><i class="pi pi-instagram" ></i></a>
                <a href="#" class="twitter"><i class="pi pi-twitter" ></i></a>
                <a href="#" class="whatsapp"><i class="pi pi-whatsapp" ></i></a>
            </div>
        </div>
        <div class="box-content shop">
            <h3>Información</h3>
            <div class="box-content-links box__info">
                <a [href]="URL_ADDRESS" target="_blank"><i class="pi pi-map-marker" ></i> Dirección</a>
                <a><i class="pi pi-phone"></i> +59342805414</a>
                <a><i class="pi pi-envelope"></i> ferreteriaeldescanso@gmail.com</a>
                <a>
                    <i class="pi pi-chart-line"></i>
                    <div class="stars" *ngFor="let item of numSequence(5)">
                        <i class="pi pi-star-fill"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="box-content company">
            <h3>Compañia</h3>
            <div class="box-content-links">
                <a href="/login">- Login</a>
                <a href="/signup">- Registro</a>
                <a href="/contact">- Contacto</a>
                <a href="/about">- Nosotros</a>
            </div>
        </div>
      
        <!-- <div class="box-content">
            <h3>Subscripción</h3>
            <div class="box-content-email">
                <p>Subscribete para estar al día con nuestras actualizaciones!</p>
                    <div class="p-inputgroup"  style="height: 45px">
                        <input type="email" pInputText placeholder="Email">   
                        <button type="button" pButton pRipple icon="pi pi-send" style="background-color: #4F46E5;" styleClass="p-button-warn"></button>      
                    </div>
            </div>
        </div> -->
    </div>
    <hr>
    <div class="company">
        <p class="copyright">© 2021 Ferretería | El Descanso . All right reserved</p>
    </div>
</footer>
