<p-toast [autoZIndex]="false" [style]="{'z-index': 9}"></p-toast>
<section>
    <main>
        <div class="header__forget__password">
            <figure>
                <a href="/home"><img class="img-log" src="assets/img/logo_app.svg" alt="Logo de la Ferreteria"></a> 
            </figure>
            <p>Ferretería | El Descanso</p>
        </div>
        <div class="form__forget__password">
            <div class="content__forget__password">
                <ng-template [ngIf]="!isCompleteRequest" [ngIfElse]="completeRequest">
                    <p class="tittle__forget__password"><i class="pi pi-exclamation-circle"></i> Introduce un correo electrónico para recuperar la contraseña</p>
                    <div>
                        <span class="p-input-icon-left" [style]="{width: '100%'}">
                            <i class="pi pi-envelope"></i>
                            <input type="text" style="width: 100%;" (input)="getValue($event)" autofocus pInputText placeholder="example@xyz.com" [(ngModel)]="email" />
                        </span>
                        <small class="p-error" style="float: left;"  *ngIf="submitted && !email">Correo electrónico es requerido</small>
                        <small class="p-error" style="float: left;"  *ngIf="email && !validateEmail()">Correo electrónico no válido</small>
                        <small class="p-error" style="float: left;"  *ngIf="errorEmail && email && submitted">¡El correo electrónico no se encuentra asociado a una cuenta!</small>
                    </div>
                    <div class="mt-6" style="width: 100%;">
                        <button pButton pRipple style="width: 100%; padding: 10px 40%; font-weight: normal;" label="Envíar" icon="pi pi-send" [loading]="isLoading" (click)="createRequest()"></button>
                    </div>
                </ng-template>

                <ng-template #completeRequest>
                    <div class="response__request">
                        <div class="response__text">
                            <i class="pi pi-check-circle icon__response"></i>
                            <p>Por favor revise su correo electrónico para seguir con el procedimiento.</p>
                        </div>
                        <!-- <div>
                            <a href="/login" class="login__link">Ir al Login <i class="pi pi-arrow-right"></i></a>
                        </div> -->
                    </div>
                </ng-template>
            </div>
        </div>
    </main>
    
    <app-background-animate></app-background-animate>
    <app-overlay-request
        [showOverlay]="showOverlay"
        [loadRequest]="loadRequest"
        [textOverlay]="textOverlay"
    ></app-overlay-request>
</section>
