<p-toast [autoZIndex]="false" [style]="{'z-index': 10001}"></p-toast>
<section>
    <!-- Overlay Login -->
    <ng-template [ngIf]="showOverlayLogin">
       <app-overlay-login></app-overlay-login>
    </ng-template>

    <!-- Header -->
    <nav>
        <div class="logout" *ngIf="overlayLogout">
            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
            <p> Cerrando Sesión <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
        </div>
        
        <ng-template  [ngIf]="!isLogged" [ngIfElse]="logged">
           <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <a href="/login"><i class="pi pi-sign-in"> </i>Iniciar Sesión</a>
                        <a href="/signup"><i class="pi pi-user-plus"> </i>Registrar</a>
    
                        <div class="nav__menu__content_social">
                            <div class="nav__menu__content_social__icons">
                                <a href="https://twitter.com" target="_blank" class="twitter" pTooltip="Twitter" tooltipPosition="top"><i class="pi pi-twitter" ></i></a>
                                <a href="https://facebook.com" target="_blank" class="facebook" pTooltip="Facebook" tooltipPosition="top"><i class="pi pi-facebook" ></i></a>
                                <a href="https://instagram.com" target="_blank" class="instagram" pTooltip="Instagram" tooltipPosition="top"><i class="pi pi-instagram" ></i></a>
                                <a href="https://whatsapp.com" target="_blank" class="whatsapp" pTooltip="Whatsapp" tooltipPosition="top"><i class="pi pi-whatsapp" ></i></a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>
    
        </ng-template>
    
        <ng-template #logged>
            <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <div class="nav__menu__cart">
                            <button pRipple (click)="goCart()"><i class="pi pi-shopping-cart"></i></button>
                        </div>
                        <div class="nav__menu__option"> 
                            <div class="nav__user" pRipple (click)="displayOptions()">
                                <p><i class="pi pi-user mr-1"></i>{{user.user_name}} {{user.user_lastName}}<i class="pi pi-angle-down ml-3"> </i></p>
                            </div>
                            <div class="nav__user__option isActiveNavOption">
                                <p>Opciones</p>
                                <a href="/my-orders"><i class="pi pi-shopping-bag"></i> Pedidos</a>
                                <a href="/configuración"><i class="pi pi-cog"></i> Configuración</a>
                                <p>Sesión</p>
                                <a style="cursor: pointer;" (click)="logOut()" id="logOut"><i class="pi pi-sign-out"></i> Cerrar Sesión</a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>
        </ng-template>
    </nav>
    

    <!-- Boton Up -->
    <app-button-up></app-button-up>
    
    <main>
        <div class="banner__shop">
           <!-- <p>Banner de Promociones</p> -->
           <div *ngIf="bannerComplete">
               <div class="progressBanner">
                   <p-progressSpinner></p-progressSpinner>
               </div>
                <p-skeleton height="300px" styleClass="mb-2"></p-skeleton>
           </div>

            <p-galleria [value]="banners" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%','height':'300px'}" [numVisible]="5"
            [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
            [autoPlay]="true" [transitionInterval]="6000"
            [showIndicatorsOnItem]="true"> 
                <ng-template pTemplate="item" let-item>
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <img class="image__carousel" [src]="!item.banner_thumbnail || item.banner_thumbnail == null ? overImage : host+item.banner_thumbnail" [alt]="item.banner_thumbnail" style="width: 100%; display: block;"/>
                </ng-template>
            </p-galleria>
        </div>
        <div class="main__content">
            <p-fieldset legend="Categorías">
                <div *ngIf="hide && !loadingShop" class="skeleton__categories">
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                </div>
                
                <div class="chips__categories">
                    <div id="0" *ngIf="!hide" class="chip__item chip__item__active" pRipple (click)="isActiveCategory()">
                        <i class="pi pi-th-large mr-2"></i>
                        <p>Todos</p>
                    </div>
                    <div [id]="category.id_category" class="chip__item " pRipple *ngFor="let category of categories" (click)="isActiveCategory()">
                        <i class="pi pi-th-large mr-2"></i>
                        <p>{{category.category_name}}</p>
                    </div>
                </div>
            </p-fieldset>
            <br>
            <div class="card">
                <p-dataView #dv [loading]="!completeProduct" [value]="products" [paginator]="true" [emptyMessage]="'Sin Registros'" [rows]="12" filterBy="product_name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por precio" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <i class="pi pi-search"></i>
                                <input type="search" class="input__Search" pInputText placeholder="Buscar Producto..." (input)="dv.filter($any($event.target).value)">
                            </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-12">
                            <div class="product-list-item">
                                <img [src]="!product.product_image || product.product_image == null ? overImage : host+product.product_image" [alt]="product.product_image"/>
                                <div class="product-list-detail">
                                    <div class="product-name">{{product.product_name}}</div>
                                    <!-- <div class="product-description">{{product.product_description}}</div> -->
                                    <p *ngIf="product.product_offered != null" style="width: min-content;" class="product-offered mb-3"> -{{product.product_offered}}%</p>   
                                    <p-rating [iconOnStyle]="{'color':'#f5af19'}" [ngModel]="product.product_rating" [readonly]="true" [cancel]="false"></p-rating>
                                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category.category_name}}</span>
                                </div>
                                <div class="product-list-action">
                                    <div *ngIf="product.product_offered != null" class="flex flex-column">
                                        <span class="product-price" style="text-decoration: line-through; font-size: 14px; color: rgb(255, 78, 78);">${{product.product_price}}</span>
                                        <span class="product-price" style="font-size: 20px;">${{product.product_offered_price_total}}</span>
                                    </div>
                                    <span *ngIf="product.product_offered == null" class="product-price">${{product.product_price}}</span>
                                    <p-button id="{{product.id_product}}" styleClass="p-button-sm" icon="pi pi-shopping-cart" label="Añadir al carrito" (onClick)="addProductoCart($event,product)"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="gridItem">
                        <div class="col-12 md:col-6 lg:col-4 xl:col-3">
                            <div class="product-grid-item card">
                                <div class="product-grid-item-top">
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{product.category.category_name}}</span>
                                    </div>
                                    <p *ngIf="product.product_offered != null" class="product-offered"> -{{product.product_offered}}%</p>
                                </div>
                                <div class="product-grid-item-content">
                                    <img [src]="product.product_image ? host+product.product_image : overImage" [alt]="product.product_image"/>
                                    <div class="product-name text__name__product mb-2" [pTooltip]="product.product_name" tooltipPosition="top">{{product.product_name}}</div>
                                    <!-- <div class="product-description">{{product.product_description}}</div> -->
                                    <p-rating [iconOnStyle]="{'color':'#f5af19'}" [(ngModel)]="product.product_rating" [readonly]="true" [cancel]="false"></p-rating>
                                </div>
                                <div class="product-grid-item-bottom">
                                    <ng-template [ngIf]="product.product_offered != null && showPromotion" [ngIfElse]="notPromotion">
                                        <div class="flex flex-row-reverse align-items-center">
                                            <span class="product-price" style="text-decoration: line-through; font-size: 14px; margin-left: 5px; color: rgb(255, 78, 78);">${{product.product_price}}</span>
                                            <span class="product-price" style="font-size: 19px;">${{product.product_offered_price_total}}</span>
                                        </div>
                                    </ng-template>

                                    <ng-template #notPromotion>
                                        <span class="product-price">${{product.product_price}}</span>
                                    </ng-template>
                                    
                                    <p-button class="button__cart" id="{{product.id_product}}" styleClass="p-button-sm" icon="pi pi-shopping-cart" (onClick)="addProductoCart($event,product)"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
        <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

</section>
