<app-nav-simple></app-nav-simple>
<section>
    <app-button-up></app-button-up>
    <p class="title">TÉRMINOS Y CONDICIONES</p>
    <div class="main__content">
        <p>
            El presente texto describe los términos y condiciones aplicables al uso del contenido, productos y/o servicios de la aplicación web e-commerce B2C del cual es titular el Sr. Galo Mena. Para hacer uso del contenido, productos y/o servicios de la aplicación web e-commerce B2C el usuario deberá sujetarse a los presentes términos y condiciones.
        </p>

        <div>
            <p class="subtitle"><i class="pi pi-server"></i> I. OBJETO</p>
            <p>>El titular se reserva el derecho de realizar cualquier tipo de modificación en la aplicación web e-commerce B2C en cualquier momento y sin previo aviso, el usuario acepta dichas modificaciones.</p>
            <p>>El acceso a la aplicación web e-commerce B2C por parte del usuario es libre y gratuito, la adquisición de productos y/o servicios implica un costo para el usuario.</p>
            <p>>La aplicación web e-commerce B2C solo admite el acceso a personas mayores de edad y no se hace responsable por el incumplimiento de esto.</p>
            <p>>La aplicación web e-commerce B2C está dirigido a los usuarios residentes en la ciudad de Guayaquil, si el usuario reside en otro país y decide acceder a la aplicación web e-commerce B2C lo hará bajo su responsabilidad.</p>
            <p>>La administración de la aplicación web e-commerce B2C puede ejercerse por terceros, es decir, personas distintas al titular, sin afectar esto los presentes términos y condiciones.</p>
        </div>

        <div>
            <p class="subtitle"><i class="pi pi-user"></i> II. USUARIO</p>
            <p>>La actividad del usuario en la aplicación web e-commerce B2C como publicaciones o comentarios estarán sujetos a los presentes términos y condiciones. El usuario se compromete a utilizar el contenido, productos y/o servicios de forma lícita, sin faltar a la moral o al orden público, absteniéndose de realizar cualquier acto que afecte los derechos de terceros o el funcionamiento de la aplicación web e-commerce B2C.</p>
            <p>>El usuario se compromete a proporcionar información verídica en los formularios de la aplicación web e-commerce B2C.</p>
            <p>>El acceso a la aplicación web e-commerce B2C no supone una relación entre el usuario y el titular de la aplicación web e-commerce B2C.</p>
            <p>>El usuario manifiesta ser mayor de edad y contar con la capacidad jurídica de acatar los presentes términos y condiciones.</p>
        </div>

        <div>
            <p class="subtitle"><i class="pi pi-desktop"></i> III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB</p>
            <p>>El titular no garantiza la continuidad y disponibilidad del contenido, productos y/o servicios en la aplicación web e-commerce B2C, realizará acciones que fomenten el buen funcionamiento de dicha aplicación web e-commerce B2C sin responsabilidad alguna.</p>
            <p>>El titular no se responsabiliza de que el software esté libre de errores que puedan causar un daño al software y/o hardware del equipo del cual el usuario accede a la aplicación web e-commerce B2C. De igual forma, no se responsabiliza por los daños causados por el acceso y/o utilización de la aplicación web e-commerce B2C.</p>
        </div>

        <div>
            <p class="subtitle"><i class="pi pi-lock"></i> IV. POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS</p>
            <p>>Conforme a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de Particulares, el titular de compromete a tomar las medidas necesarias que garanticen la seguridad del usuario, evitando que se haga uso indebido de los datos personales que el usuario proporcione en la aplicación web e-commerce B2C.</p>
            <p>>El titular corroborará que los datos personales contenidos en las bases de datos sean correctos, verídicos y actuales, así como que se utilicen únicamente con el fin con el que fueron recabados.</p>
            <p>>La ferreter+ia "El Descanso" se reserva el derecho de realizar cualquier tipo de modificación en el Aviso de Privacidad en cualquier momento y sin previo aviso, de acuerdo con sus necesidades o cambios en la legislación aplicable, el usuario acepta dichas modificaciones.</p>
            <p>>La aplicación web e-commerce B2C implica la utilización de cookies que son pequeñas cantidades de información que se almacenan en el navegador utilizado por el usuario como datos de ingreso, preferencias del usuario, fecha y hora en que se accede al sitio web, sitios visitados y dirección IP, esta información es anónima y solo se utilizará para mejorar la aplicación web e-commerce B2C. Los cookies facilitan la navegación y la hacen más amigable, sin embargo, el usuario puede desactivarlos en cualquier momento desde su navegador en el entendido de que esto puede afectar algunas funciones de la aplicación web e-commerce B2C.</p>
        </div>

        <div>
            <p class="subtitle"><i class="pi pi-globe"></i> V. POLÍTICA DE ENLACES</p>
            <p>>La aplicación web e-commerce B2C puede contener enlaces a otros sitios de internet pertenecientes a terceros de los cuales no se hace responsable.</p>
        </div>
        
        <div>
            <p class="subtitle"><i class="pi pi-book"></i> VI. POLÍTICA DE PROPIEDAD INTELECTUAL E INDUSTRIAL</p>
            <p>>El titular manifiesta tener los derechos de propiedad intelectual e industrial de la aplicación web e-commerce B2C incluyendo imágenes, archivos de audio o video, logotipos, marcas, colores, estructuras, tipografías, diseños y demás elementos que lo distinguen, protegidos por la legislación ecuatoriana e internacional en materia de propiedad intelectual e industrial.</p>
            <p>>El usuario se compromete a respetar los derechos de propiedad industrial e intelectual del titular pudiendo visualizar los elementos de la aplicación web e-commerce B2C, almacenarlos, copiarlos e imprimirlos exclusivamente para uso personal.</p>
        </div>
        
        <div>
            <p class="subtitle"><i class="pi pi-briefcase"></i> VII. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</p>
            <p>>La relación entre el usuario y el titular se regirá por las legislaciones aplicables en Ecuador.</p>
            <p>>La Ferretería "El Descanso" no se responsabiliza por la indebida utilización del contenido, productos y/o servicios la aplicación web e-commerce B2C y del incumplimiento de los presentes términos y condiciones.</p>
        </div>
    </div>

    <app-footer></app-footer>
</section>

