<section>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <div class="nav__header">
        <div class="logout" *ngIf="overlayLogout">
            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
            <p> Cerrando Sesión <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
        </div>
        <div class="nav__aside" id="nav__aside">
            <div class="nav__aside__header">
                <div class="nav__header__content">
                    <img src="assets/img/logo_app.svg" alt="" >
                    <p [hidden]="isHidden">El Descanso</p>
                </div>
            </div>
            <div style="height: 80vh;">
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <div class="nav__aside__content">
                        <div class="nav__aside__item" tabindex="1" (click)="activeLink()" [routerLink]="'chart'" pRipple pTooltip="Gráficos" tooltipPosition="right">
                            <i class="pi pi-chart-bar"></i>
                            <p [hidden]="isHidden">Gráficas</p>
                        </div>
                        <div class="nav__aside__item" tabindex="2" (click)="activeLink()" [routerLink]="'ingresos'" pRipple pTooltip="Ingresos" tooltipPosition="right">
                            <i class="pi pi-inbox"></i>
                            <p [hidden]="isHidden">Ingresos</p>
                        </div>
                        <div class="nav__aside__item" tabindex="3" (click)="activeLink()" [routerLink]="'egresos'" pRipple pTooltip="Egresos" tooltipPosition="right">
                            <i class="pi pi-window-maximize"></i>
                            <p [hidden]="isHidden">Egresos</p>
                        </div>
                        <div class="nav__aside__item" tabindex="4" (click)="activeLink()" [routerLink]="'report-venta'" pRipple pTooltip="Reporte de Ventas" tooltipPosition="right">
                            <i class="pi pi-file-pdf"></i>
                            <p [hidden]="isHidden">Reporte de Ventas</p>
                        </div>
                        <div class="nav__aside__item" tabindex="5" (click)="activeLink()" [routerLink]="'estadistica-venta'" pRipple pTooltip="Estadística de Ventas" tooltipPosition="right">
                            <i class="pi pi-chart-line"></i>
                            <p [hidden]="isHidden">Estadística de Ventas</p>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>

            <div id="nav__aside__footer" class="nav__aside__footer" (click)="logOut()" pRipple pTooltip="Cerrar Sesión" tooltipPosition="right">
                <i class="pi pi-power-off"></i>
                <p [hidden]="isHidden">Cerrar Sesión</p>
            </div>
        </div>

        <div class="header__main">
            <div class="header__main__content">
                <div class="header__icon" pRipple (click)="showNavbar()" pTooltip="{{msgButton}}" tooltipPosition="right">
                    <i class="pi pi-bars icon-toggle"></i>
                </div>
                
                <div class="header__profile__content" >
                    <div class="header_profile_time">
                        <div>
                            <p>{{fechaYHora}}</p>
                        </div>
                        <div class="header__profile" pRipple (click)="displayOptions()">
                            <p><i class="pi pi-user"></i> {{user.user_name}} {{user.user_lastName}} <i class="pi pi-angle-down"></i></p>
                        </div>
                    </div>
                    <div class="profile__options isActiveNavOption">
                        <div style="width:100%; padding: 15px;" class="flex justify-content-center align-items-center ">
                            <p style="font-size: 14px; color: #414141;"><i class="pi pi-shield"></i> {{roleUser}}</p>
                        </div>
                        <p style="border-top: 1px solid #ccc; width: 100%;" class="mt-2">Opciones</p>
                        <a href="configuración/perfil"><i class="pi pi-cog"></i> Configuración</a>
                    </div>
                </div>

            </div>
            <div class="main__content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

</section>