<p-toast></p-toast>

<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Método de Pago
        </ng-template>
        <ng-template pTemplate="subtitle">
            Seleccione el método de pago
        </ng-template>
        <ng-template pTemplate="content">
           
            <div class="button__paypal">
                <div class="button__paypal__content">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Regresar" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

<app-overlay-request
    [showOverlay]="showOverlay"
    [loadRequest]="loadRequest"
    [iconResponse]="iconResponse"
    [textResponse]="textResponse"
    [showButtons]="showButtons"
    [showButtonDynamic]="showButtonDynamic"
    [url]="url"
    [iconButton]="iconButton"
    [productsError]="[]"
    [textOverlay]="textOverlay"
    [textButton]="textButton"
    [isButtonHome]="true"
    [existProducstError]="false"
></app-overlay-request>
