<section>
    
    <ng-template [ngIf]="showErrors">
        <p-messages [(value)]="msgs1"></p-messages>
    </ng-template>
    
    <div class="grid">
        <div class="col-12 md:col-5 lg:col-3 sm:col-12">
            <div class="providers__content">
                <p class="title__provider"><i class="pi pi-user"></i> 1.Selección del Proveedor</p>

                <ng-template [ngIf]="isLoadingProvider" [ngIfElse]="completeProviders">
                    <div class="loader__provider" >
                        <p-progressSpinner [style]="{width: '100px', height: '100px'}"></p-progressSpinner>
                    </div>
                </ng-template>

                <ng-template #completeProviders>
                    <p-scrollPanel [style]="{width: '100%', height: '230px'}">
                        <div class="providers__radio">
                            <div *ngFor="let provider of providers" class="field-checkbox">
                                <p-radioButton [inputId]="provider.id_provider!.toString()" (onClick)="getIdProvider($event)" name="provider" [value]="provider" [(ngModel)]="selectedProvider"></p-radioButton>
                                <label [for]="provider.id_provider" class="description__provider">{{provider.provider_name}}</label>
                            </div>
                        </div>
                    </p-scrollPanel>
                </ng-template>
            </div>
            <small class="p-error" *ngIf="existProveedor && !selectedProvider">Proveedor es requerido</small>
        </div>
        <div class="col-12 md:col-7 lg:col-9 sm:col-12">
            <div class="section__selected__products">
                <p class="title__provider"><i class="pi pi-box"></i> 2.Selección de los Productos</p>
        
                <div class="grid mt-5">
                    <div class="col-12 md:col-12 lg:col-7">
                        <div class="flex flex-column" style="width: 100%;">
                            <label class="label__product__input" for="name">Nombre del Producto <span class="inputs__required">*</span></label>
                            <p-dropdown [options]="products" [emptyMessage]="emptyMessage" [filterPlaceholder]="emptyMessage" [emptyFilterMessage]="emptyMessage" [style]="{'width':'100%'}" [(ngModel)]="product.product" optionLabel="product_name" optionValue="" placeholder="Seleccione un producto" [virtualScroll]="true" [itemSize]="31" [filter]="true" filterBy="product_name,product_code" filterPlaceholder="Buscar por nombre o código" [showClear]="true"></p-dropdown>
                        </div>
                        <small class="p-error" *ngIf="submitted && !product.product">Producto es requerido</small>
                    </div>
                    <div class="col-12 md:col-12 lg:col-5 sm:col-12">
                        <div class="flex flex-column">
                            <label class="label__product__input" for="minmax-buttons">Cantidad del Producto <span class="inputs__required">*</span></label>
                            <p-inputNumber [(ngModel)]="product.amount" [disabled]="!product.product || product.product == null" [style]="{'width':'100%'}" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0"></p-inputNumber>
                        </div>
                        <small class="p-error" *ngIf="submitted && (!product.amount || product.amount == null)">Cantidad es requerida</small>
                    </div>
                </div>
        
                <button pButton pRipple [disabled]="!validateData()" styleClass="p-button-sm" type="button" class="p-button-info mt-7 button__add" icon="pi pi-plus" label="Agregar Producto" (click)="addProduct()"></button>
            </div>
        </div>

        <div class="col-12">
            <div class="table__products__selected">
                <p-table #dt [value]="selectedProducts" [totalRecords]="totalRecords" [rows]="5" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['brand_name']" responsiveLayout="stack" [rowHover]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-wrap align-items-center justify-content-between">
                            <p><i class="pi pi-th-large"></i> Productos Seleccionados</p>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por producto" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th><i class="pi pi-trash" style="color: rgb(255, 78, 78);"></i></th>
                            <th pSortableColumn="product.product_name"><i class="pi pi-box"></i> Nombre <p-sortIcon field="product.product_name"></p-sortIcon></th>
                            <th pSortableColumn="amount"><i class="pi pi-th-large"></i> Cantidad <p-sortIcon field="amount"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">No existen productos agregados!</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <span class="p-column-title"><i class="pi pi-trash" style="color: rgb(255, 78, 78);"></i></span>
                                <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteItem(product)" class="p-button-rounded p-button-danger p-button-text"></button>
                            </td>
                            <td><span class="p-column-title"><i class="pi pi-box"></i> Nombre</span>{{product.product.product_name}}</td>
                            <td><span class="p-column-title"><i class="pi pi-th-large"></i> Cantidad</span>{{product.amount}}</td>
                        </tr>
                    </ng-template>
                </p-table>        
            </div>
        </div>
    </div>

    <div class="button__save__data">
        <button pButton pRipple type="button" [disabled]="selectedProducts.length == 0" icon="pi pi-save" label="GENERAR ORDEN DE PAGO" (click)="saveData()"></button>
    </div>
</section>
