:host ::ng-deep .p-fieldset .p-fieldset-legend {
    padding: 0em;
}

:host ::ng-deep .button__add span{
    font-size: 14px;
}

:host ::ng-deep .p-scrollpanel:hover .p-scrollpanel-bar, .p-scrollpanel:active .p-scrollpanel-bar{
    background-color: #C7D2FE;
    width: 7px;
    border-radius: 4em;
}

:host ::ng-deep .p-autocomplete .p-autocomplete-loader{
    display: none;
}

.providers__content{
    width: 90%;
    padding: 15px 15px 30px 20px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.title__provider{
    font-size: 16px;
    font-weight: bold;
}

.providers__radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}


.field-checkbox{
    width: 100%;
    background-color: #EFF3F8;
    padding: 8px 18px;
    border-radius: 2em;
    color: rgb(41, 41, 41);
}

.field__provider{
    margin-bottom: 60px;
}

.field__provider:first-of-type{
    margin-top: 30px;
}

.description__provider{
    font-size: 14px;
}

.button__save__data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.label__product__input{
    color: rgb(145, 145, 145);
    padding-bottom: 10px;
}

.section__selected__products{
    border: 1px solid #dee2e6;
    padding: 15px 15px 0px 20px;
    border-radius: 5px;
}

.inputs__required{
    color: red;
}

.table__products__selected{
    margin-top: 30px;
}

.loader__provider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

@media screen and (max-width: 991px){
    .providers__content{
        width: 100%;
    }
}

