.sugerencias-content{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 7px;
}

.sugerencias-list{
    font-size: 13px;
    padding-left: 25px;
}

.title-sugerencias{
    font-size: 13px;
    padding-bottom: 7px;
    font-weight: bold;
}

:host ::ng-deep .p-card{
    background-color: #F8F9FA;
    border: 1px solid #DEE2E6;
    box-shadow: none;
 }

 .header__card{
    font-size: 24px;
    font-weight: 700;
    color: #495057;
    padding-top: 15px;
    padding-left: 15px;
 }

 .header__card i {
    font-size: 20px;
 }

 .label__title{
    font-size: 16px;
    color: #495057;
    font-weight: 600;
 }