<p-toast></p-toast>
<p-card header="Cambiar Contraseña">
    <div class="flex flex-column" style="padding: 0px 120px;">
        <div style="width: 100%;" class="mb-3">
            <p-password required [(ngModel)]="passwordCurrent"  placeholder="Ingrese Contraseña Actual" [toggleMask]="true" [feedback]="false" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
            </p-password>
            <small class="p-error flex justify-content-start" *ngIf="submitted && !passwordCurrent">Campo es requerido</small>
        </div>
        <div class="mb-3">
            <p-password required [(ngModel)]="password" placeholder="Ingrese Contraseña Nueva" [toggleMask]="true" [feedback]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                <ng-template pTemplate="header">
                    <p class="title-sugerencias">Ingresa tu contraseña</p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="sugerencias-content">Sugerencias :</p>
                    <ul class="sugerencias-list">
                        <li>Al menos una minúscula</li>
                        <li>Al menos una mayúscula</li>
                        <li>Al menos un número</li>
                        <li>Mínimo 8 caracteres</li>
                    </ul>
                </ng-template>
            </p-password>
            <small class="p-error flex justify-content-start" *ngIf="submitted && !passwordCurrent">Campo es requerido</small>
        </div>
        <div class="mb-3">
            <p-password required [(ngModel)]="passwordConfirm" placeholder="Confirmar Contraseña Nueva" [toggleMask]="true" [feedback]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                <ng-template pTemplate="header">
                    <p class="title-sugerencias">Ingresa tu contraseña</p>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="sugerencias-content">Sugerencias :</p>
                    <ul class="sugerencias-list">
                        <li>Al menos una minúscula</li>
                        <li>Al menos una mayúscula</li>
                        <li>Al menos un número</li>
                        <li>Mínimo 8 caracteres</li>
                    </ul>
                </ng-template>
            </p-password>
            <small class="p-error flex justify-content-start" *ngIf="submitted && !passwordCurrent">Campo es requerido</small>
        </div>
    </div>
    <div class="grid p-fluid justify-content-center">
        <div class="col-7"> 
            <button id="btnLogin" class="button-login" [loading]="loading" (click)="changePassword()" pButton pRipple type="button">
                <p [hidden]="!isVisibleText" style="width: 100%;">Cambiar Contraseña</p>
                <p [hidden]="isVisibleText" style="width: 48%;"></p>
            </button>   
        </div>
    </div>
</p-card>

<app-overlay-change-password [isLoading]="isLoading" [isShow]="isShow"></app-overlay-change-password>