.sugerencias-content{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 7px;
}

.sugerencias-list{
    font-size: 13px;
    padding-left: 25px;
}

.title-sugerencias{
    font-size: 13px;
    padding-bottom: 7px;
    font-weight: bold;
}

:host ::ng-deep .p-card{
    background-color: #F8F9FA;
    border: 1px solid #DEE2E6;
    box-shadow: none;
 }