<nav>
    <div class="logout" *ngIf="overlayLogout">
        <p-progressSpinner strokeWidth="3"></p-progressSpinner>
        <p> Cerrando Sesión <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
    </div>
    
    <ng-template  [ngIf]="!isLogged" [ngIfElse]="logged">
       <div class="nav__container">
            <div class="nav__logo">
                <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
            </div>
            <div class="nav__menu">
                <div class="nav__menu__content">
                    <a href="/login"><i class="pi pi-sign-in"> </i>Iniciar Sesión</a>
                    <a href="/signup"><i class="pi pi-user-plus"> </i>Registrar</a>

                    <div class="nav__menu__content_social">
                        <div class="nav__menu__content_social__icons">
                            <a href="https://twitter.com" target="_blank" class="twitter" pTooltip="Twitter" tooltipPosition="top"><i class="pi pi-twitter" ></i></a>
                            <a href="https://facebook.com" target="_blank" class="facebook" pTooltip="Facebook" tooltipPosition="top"><i class="pi pi-facebook" ></i></a>
                            <a href="https://instagram.com" target="_blank" class="instagram" pTooltip="Instagram" tooltipPosition="top"><i class="pi pi-instagram" ></i></a>
                            <a href="https://whatsapp.com" target="_blank" class="whatsapp" pTooltip="Whatsapp" tooltipPosition="top"><i class="pi pi-whatsapp" ></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <button class="hamburger" (click)="isActive()">
                <span></span>
                <span></span>
                <span></span>
            </button>
       </div>

    </ng-template>

    <ng-template #logged>
        <div class="nav__container">
            <div class="nav__logo">
                <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
            </div>
            <div class="nav__menu">
                <div class="nav__menu__content">
                    <div class="nav__menu__cart">
                        <button pRipple (click)="goCart()"><i class="pi pi-shopping-cart"></i></button>
                    </div>
                    <div class="nav__menu__option">
                        <div class="nav__user" pRipple (click)="displayOptions()">
                            <p><i class="pi pi-user mr-1"></i>{{user?.user_name}} {{user?.user_lastName}}<i class="pi pi-angle-down ml-3"> </i></p>
                        </div>
                        <div class="nav__user__option isActiveNavOption">
                            <p>Opciones</p>
                            <a href=""><i class="pi pi-user"></i> Perfil</a>
                            <a href=""><i class="pi pi-shopping-bag"></i> Pedidos</a>
                            <a href=""><i class="pi pi-th-large"></i> Configuración</a>
                            <p>Sesión</p>
                            <a style="cursor: pointer;" (click)="logOut()" id="logOut"><i class="pi pi-sign-out"></i> Cerrar Sesión</a>
                        </div>
                    </div>
                    
                    <div class="nav__menu__content__date">
                        <div class="menu__social__date">
                            <p>{{fechaYHora}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <button class="hamburger" (click)="isActive()">
                <span></span>
                <span></span>
                <span></span>
            </button>
       </div>
    </ng-template>
</nav>

