<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text" ></p-confirmDialog>

<p-table #dt [value]="dataAux" [paginator]="true" [rowHover]="true" [loading]="loading" [rows]="5" [showCurrentPageReport]="true"  [globalFilterFields]="['id_order','name']"
currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pedidos" [rowsPerPageOptions]="[5,10,25,50]" responsiveLayout="stack">
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap align-items-center justify-content-between">
            <div class="flex flex-wrap align-items-center justify-content-between">
              <button pButton pRipple icon="pi pi-refresh" class="p-button-info mr-2" pTooltip="Recargar Tabla" tooltipPosition="top"  (click)="getPedidos(false)"></button>
              <button pButton pRipple icon="pi pi-filter" class="p-button-warning mr-2" pTooltip="Filtrar" tooltipPosition="top" style="color: rgb(65, 65, 65);" (click)="op.toggle($event)"></button>

              Listado de Pedidos
            </div>

            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText style="width: 300px;" maxlength="60" type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por orden o cliente" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id_order"><i class="pi pi-qrcode"></i> Orden <p-sortIcon field="id_order"></p-sortIcon></th>
            <th pSortableColumn="name"><i class="pi pi-user"></i> Cliente <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="order_date"><i class="pi pi-calendar"></i> Fecha de Pedido <p-sortIcon field="order_date"></p-sortIcon></th>
            <th pSortableColumn="total"><i class="pi pi-dollar"></i> Precio Total <p-sortIcon field="total"></p-sortIcon></th>
            <th pSortableColumn="status"><i class="pi pi-clock"></i> Estado <p-sortIcon field="status"></p-sortIcon></th>
            <th><i class="pi pi-share-alt"></i> Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
        <tr>
            <td><span class="p-column-title"><i class="pi pi-qrcode"></i> Orden: </span>{{pedido.id_order}}</td>
            <td style="width: 250px;"><span class="p-column-title mr-2"> <i class="pi pi-user"></i> Cliente: </span> {{pedido.name}}</td>
            <td><span class="p-column-title"><i class="pi pi-calendar"></i>  Fecha de Pedido: </span>
              <div>
                <p>{{pedido.order_date}}</p>
                <p *ngIf="pedido.recent_order == 0" class="recent__order">Nuevo</p>
              </div>
            </td>
            <td><span class="p-column-title"><i class="pi pi-dollar"></i> Precio Total: </span>$ {{pedido.total}}</td>
            <td>
                <span class="p-column-title"><i class="pi pi-clock"></i> Estado: </span>
                <p [class]="'status__order__'+(pedido.status).toLowerCase()">
                    {{pedido.status}}
                </p>
            </td>
            <td >
                <span class="p-column-title"><i class="pi pi-share-alt"></i> Acciones: </span>
                <div class="flex justify-content-end align-items-end">
                    <button pButton pRipple type="button" icon="pi pi-file-pdf" pTooltip="PDF" tooltipPosition="top" (click)="viewOrder(pedido.information)" class="p-button-info mr-2"></button>
                    <ng-template [ngIf]="pedido.status == 'Pendiente'" [ngIfElse]="completeOrder">
                        <button pButton pRipple type="button" icon="pi pi-check" pTooltip="Completar" tooltipPosition="left" (click)="complete(pedido)" class="p-button-success"></button>
                    </ng-template>
                    <ng-template #completeOrder>
                        <button pButton pRipple type="button" style="color: rgb(65, 65, 65);" pTooltip="Detalles" tooltipPosition="top" icon="pi pi-info-circle" (click)="showModal(pedido)" class="p-button-warning"></button>
                    </ng-template>
                </div>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            En total hay {{pedidos ? pedidos.length : 0 }} pedidos.
        </div>
    </ng-template>
</p-table>

<ng-template [ngIf]="isShowModalDetail">
    <p-dialog header="Detalles Avanzados del Pedido" [(visible)]="isShowModalDetail" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
        [draggable]="false" [resizable]="false">

            <article>
                <div class="dateOrder flex justify-content-center align-items-center">
                    <div class="mr-4">
                        <span><i class="pi pi-calendar mr-1"></i> Fecha de Pedido</span>
                        <p>{{dataModal.create_date}}</p>
                    </div>
                    <div>
                        <span><i class="pi pi-calendar mr-1"></i> Fecha de Despacho</span>
                        <p>{{dataModal.updated_at}}</p>
                    </div>
                </div>
                <div>
                    <span><i class="pi pi-clock mr-1"></i> Tiempo Total del Proceso</span>
                    <p>Días: {{dataModal.delivery_day}} Horas: {{dataModal.delivery_hour}} Minutos: {{dataModal.delivery_minute}}</p>
                </div>
            </article>

            <ng-template pTemplate="footer">
            </ng-template>
    </p-dialog>
</ng-template>


<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '180px'}">
  <ng-template pTemplate>
      <div *ngFor="let option of options" class="field-checkbox">
          <p-radioButton [id]="option.id" id="option.id" [name]="option.id" name="option.name" [inputId]="option.id" [value]="option.id" (onClick)="change($event)" [(ngModel)]="selectedOptionFilter"></p-radioButton>
          <label [for]="option.id">{{option.name}}</label>
      </div>
  </ng-template>
</p-overlayPanel>
