<section>
    <div class="overlayLogin">
        <div class="card__overlay">
            <div class="buttonClose__overlay">
                <button (click)="resetOverlay()" pRipple> <i class="pi pi-times"></i> </button>
            </div>

            <div class="header__overlay">
                <img src="assets/img/logo_app.svg" alt="" width="150px">
                <!-- <p>Ferretería "El Descanso"</p> -->
                <br>
            </div>
            
            <div class="buttons__overlay">
                <div class="button__overlay">
                    <button style="width: 100%;" (click)="goLogin()" pButton class="p-button-sm" type="button" label=" Iniciar Sesión" pRipple></button>
                </div>
                <div class="button__overlay">
                    <button style="width: 100%;" (click)="goSignup()" pButton class="p-button-sm" type="button" label="Registrarse" pRipple></button>
                </div>
            </div>

            <div class="footer__overlay">
                <p>Lee aquí nuestros: <a href="terminos-y-condiciones">Terminos y condiciones</a></p>  
            </div>
        </div>
    </div>
</section>
