<section>

    <!-- Navigation -->
    <app-nav-simple></app-nav-simple>
    
    <!-- Button Up -->
    <app-button-up></app-button-up>
    
    <!-- Contenido -->
    <div class="content-about-us">
        <div class="image-about-us">
            <div class="leyend-about-us">
                <p>¿Quiénes Somos?</p>
            </div>
            <div class="icon-down">
                <i class="pi pi-chevron-down down" (click)="scrollDown()"></i>
            </div>  
        </div>

        <div class="description-about-us">
            
            <div class="box-about-us">
                <div class="item-about-us">
                    <p><i class="pi pi-bookmark-fill"></i> MISIÓN</p>
                    <p>Proveer soluciones con materiales y herramientas de ferretería para la construcción civil, pequeña industria y artesanía, manejando un surtido completo y permanente que permita llegar a los clientes con un servicio oportuno de alta calidad a un precio competitivo.</p>
                </div>
                <div class="item-about-us">
                    <p><i class="pi pi-bookmark-fill"></i> VISIÓN</p>
                    <p>Convertirnos hasta el mes de marzo del 2025, el aliado perfecto de nuestra comunidad en tanto y en cuánto podamos solucionar sus requerimientos dando siempre un valor agregado en la puntualidad y calidad de nuestros productos. Teniendo en cuenta que nuestros clientes son la base fundamental de nuestro negocio.</p>
                </div>
            </div>

            <div class="title">
                <div class="title-figure">
                    <figure>
                        <img loading="lazy" src="assets/img/about.svg" alt="Imagen">
                    </figure>
                </div>
                <div class="title-description">
                    <div class="titulo">
                        <p>EL NEGOCIO</p>
                    </div>
                    <p>¿Por qué Ferretería "El Descanso"?</p>
                    <p>Somos un negocio dedicado a la comercialización de productos de ferretería. Nuestro propósito es brindar facilidades y beneficios a las personas a través de una gran diversidad de líneas y productos, ofreciendo siempre una alternativa diferente, mejor e innovadora para nuestros clientes.</p>
                </div>
            </div>

            <div class="valores">
                <p class="title-valor">¡Nuestros Valores Principales!</p>
                <div class="box-valores">
                    <div class="item-valores">
                        <p>Honestidad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_deal.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Calidad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_plan.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Competividad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_competition.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Trabajo En Equipo</p>
                        <figure>
                            <img loading="lazy" src="assets/img/shared_workspace.svg" alt="imagen">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <app-footer></app-footer>
    </div>

</section>

