<section>
    <div class="cards__options">
        <div class="skeleton flex flex-wrap" *ngIf="completeLoadingProducts || completeLoadingSails || completeLoadingSailsman">
            <p-skeleton class="mr-2" width="290px" height="6rem"></p-skeleton>
            <p-skeleton class="mr-2" width="290px" height="6rem"></p-skeleton>
            <p-skeleton width="290px" height="6rem"></p-skeleton>
        </div>
        <div class="card__items flex flex-wrap justify-content-center alings-items-center" *ngIf="!completeLoadingProducts && !completeLoadingSails && !completeLoadingSailsman">
            <div class="card__option__item ventas" (click)="actionSelect = 'sails'" pRipple>
                <div class="card__item">
                    <p>222</p>
                    <p>Ventas</p>
                </div>
                <div class="card__icon">
                    <i class="pi pi-shopping-cart"></i>
                </div>
            </div>
            <div class="card__option__item productos" (click)="actionSelect = 'products'" pRipple>
                <div class="card__item">
                    <p>222</p>
                    <p>Productos</p>
                </div>
                <div class="card__icon">
                    <i class="pi pi-tags"></i>
                </div>
            </div>
            <div class="card__option__item stock" (click)="actionSelect = 'sailman'" pRipple>
                <div class="card__item">
                    <p>222</p>
                    <p>Vendedores</p>
                </div>
                <div class="card__icon">
                    <i class="pi pi-user"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="content__graphycs flex justify-content-center">
    <ng-template [ngIf]="actionSelect == 'sails'">
        <div class="titleGraphyc">
            <p class="titleGraphyc">Ventas</p>
            <p-skeleton *ngIf="completeLoadingSails" width="60vw" height="25rem"></p-skeleton>
            <p-chart *ngIf="!completeLoadingSails" type="line" [data]="dataSails" width="60vw" [options]="basicOptions"></p-chart>
        </div>
    </ng-template>

    <ng-template [ngIf]="actionSelect == 'products'">
        <div class="titleGraphyc">
            <p class="titleGraphyc">Productos</p>
            <p-skeleton *ngIf="completeLoadingProducts" width="60vw" height="25rem"></p-skeleton>
            <p-chart *ngIf="!completeLoadingProducts" type="radar" [data]="dataProducts" width="35vw" [options]="basicOptions"></p-chart>
        </div>
    </ng-template>

    <ng-template [ngIf]="actionSelect == 'sailman'">
        <div style="width: 40%;" class="flex flex-column justify-content-center">
            <p class="parrafo">Vendedores</p>
            <p-skeleton *ngIf="completeLoadingSailsman" height="25rem"></p-skeleton>
            <p-chart *ngIf="!completeLoadingSailsman" type="doughnut" [data]="dataStock"></p-chart>
        </div>
    </ng-template>
</div>
