<p-toast [autoZIndex]="false" [style]="{'z-index': 2}"></p-toast>
<div class="card">
    <p class="tittle__statistics"> <i class="pi pi-chart-line"></i> Estadística de Compras</p>

    <div class="date__report grid mt-4">
        <div class="col-12 md:col-6">
            <label class="mr-2" for="fechaInicio">1. Fecha Inicio:</label>
            <p-calendar inputId="basic" [style]="{width:'100%'}" dateFormat="yy/mm/dd" (onSelect)="onSelectDateInit($event)" [(ngModel)]="fechaInicio" [showIcon]="true" [touchUI]="true" [readonlyInput]="true" [showButtonBar]="true" ></p-calendar>
            <small class="p-error" *ngIf="isShowMessageDateInit">{{!messageErrorDateInit ? 'Fecha no válida, debe ser mayor o igual a la fecha actual' : messageErrorDateInit}}</small>
        </div>
        <div class="col-12 md:col-6">
            <label class="mr-2" for="fechaFin">2. Fecha Fin:</label>
            <p-calendar class="mr-2" inputId="basic" [style]="{width:'100%'}" dateFormat="yy/mm/dd" (onSelect)="onSelectDateExpiry($event)" [(ngModel)]="fechaFin" [showIcon]="true" [touchUI]="true" [readonlyInput]="true" [showButtonBar]="true" ></p-calendar>
            <small class="p-error" *ngIf="isShowMessageDateExpiry">{{!messageErrorDateExpiry ? 'Fecha no válida, debe ser mayor o igual a la fecha actual' : messageErrorDateExpiry}}</small>
        </div>
    </div>
    
    <div class="filter__report grid mt-4 mb-5">
        <div class="col-12 md:col-6">
            <label class="mr-2">3. Proveedor: </label>
            <p-multiSelect [options]="providers" [style]="{width:'100%'}" [(ngModel)]="selectedProvider" defaultLabel="Seleccione Proveedor" optionLabel="provider_name" class="multiselect-custom">
                <ng-template let-value pTemplate="selectedItems">
                    <div class="country-item country-item-value" *ngFor="let option of selectedProvider">
                        <div>{{option.provider_name}}</div>
                    </div>
                    <div *ngIf="!selectedProvider || selectedProvider.length === 0" class="country-placeholder">
                        Seleccione Proveedor
                    </div>
                </ng-template>
                <ng-template let-category pTemplate="item">
                    <div class="country-item flex justify-content-center align-items-center">
                        <div>{{category.provider_name}}</div>
                    </div>
                </ng-template>
            </p-multiSelect>
        </div>
        <div class="col-12 md:col-6">
            <label class="mr-2">4. Estado: </label>
            <p-dropdown [options]="options" [style]="{width:'100%'}" emptyFilterMessage="No se encontraron resultados" optionValue="id" [(ngModel)]="selectedState" optionLabel="name" placeholder="Seleccione un producto" [itemSize]="3" [virtualScroll]="true" [showClear]="true"></p-dropdown>
        </div>
    </div>
    
    
    <button type="button" [disabled]="!validateData() || disableButton" pButton pRipple icon="pi pi-file-pdf" label="Generar Reporte" (click)="generateReport()" class="p-button-info"></button>
</div>
