<p-card header="Información Personal">
    <div class="grid p-fluid justify-content-center">
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Nombres">         
            </div>
        </div>
        
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Apellidos">         
            </div>
        </div>
    </div>
    <div class="grid p-fluid justify-content-center">
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText placeholder="Correo Electrónico">         
            </div>
        </div>
        
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                <input type="text" pInputText placeholder="Identificación">         
            </div>
        </div>
    </div>
    <div class="grid p-fluid justify-content-center">
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                <input type="text" pInputText placeholder="Celular">         
            </div>
        </div>
        
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                <input type="text" pInputText placeholder="Dirección">   
                <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"></button>            
            </div>
        </div>
    </div>
    <div class="grid p-fluid justify-content-center">
        <div class="col-12 md:col-7"> 
            <button pButton pRipple type="button" label="Confirmar"></button>
        </div>
    </div>
</p-card>