<section class="shop-link header">
  <div class="content-shop">
    <p>¡TODO LO QUE BUSCAS EN UN SOLO LUGAR!</p>
    <p>Infórmate de todos nuestros productos, ofertas y más. Adicionalmente podrás comprar de forma online y segura.</p>
    <div class="button-shop">
        <button class="button-tienda" [routerLink]="['/shop']" pRipple>Comprar<i class="pi pi-shopping-cart"></i></button>
    </div>
  </div>
  <div class="img-shop" data-aos="zoom-in-left" data-aos-duration="3000"  data-aos-once="false">
    <figure>
        <img loading="lazy" src="assets/img/women_tools.png" alt="">
    </figure>
  </div>
</section>
