<section>
    <nav>
        <input type="checkbox" id="nav-toggle">
        <div class="logo">
            <a href="/home"><img loading="lazy" src="assets/img/logo_app.svg" alt="Logo" width="40px"><p>El Descanso</p></a>  
        </div>
        <ul class="links">
            <li><a href="/home"><i class="pi pi-home"></i> Inicio</a></li>
            <li><a href="/shop"><i class="pi pi-shopping-cart"></i> Tienda</a></li>
        </ul>

        <label for="nav-toggle" class="icon-burger" pRipple (click)="isActive()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
    <!-- <app-scroll-to-up></app-scroll-to-up> -->
    
    <div class="content-about-us">
        <div class="image-about-us">
            <div class="leyend-about-us">
                <p>¿Quiénes Somos?</p>
            </div>
            <div class="icon-down">
                <i class="pi pi-chevron-down down" (click)="scrollDown()"></i>
            </div>  
        </div>

        <div class="description-about-us">
            
            <div class="box-about-us">
                <div class="item-about-us">
                    <p><i class="pi pi-bookmark-fill"></i> MISIÓN</p>
                    <p>Proveer soluciones con materiales y herramientas de ferretería para la construcción civil, pequeña industria y artesanía, manejando un surtido completo y permanente que permita llegar a los clientes con un servicio oportuno de alta calidad a un precio competitivo.</p>
                </div>
                <div class="item-about-us">
                    <p><i class="pi pi-bookmark-fill"></i> VISIÓN</p>
                    <p>Convertirnos hasta el mes de marzo del 2025, el aliado perfecto de nuestra comunidad en tanto y en cuánto podamos solucionar sus requerimientos dando siempre un valor agregado en la puntualidad y calidad de nuestros productos. Teniendo en cuenta que nuestros clientes son la base fundamental de nuestro negocio.</p>
                </div>
            </div>

            <div class="title">
                <div class="title-figure">
                    <figure>
                        <img loading="lazy" src="assets/img/about.svg" alt="Imagen">
                    </figure>
                </div>
                <div class="title-description">
                    <div class="titulo">
                        <p>EL NEGOCIO</p>
                    </div>
                    <p>¿Por qué Ferretería "El Descanso"?</p>
                    <p>Somos un negocio dedicado a la comercialización de productos de ferretería. Nuestro propósito es brindar facilidades y beneficios a las personas a través de una gran diversidad de líneas y productos, ofreciendo siempre una alternativa diferente, mejor e innovadora para nuestros clientes.</p>
                </div>
            </div>

            <div class="valores">
                <p class="title-valor">¡Nuestros Valores Principales!</p>
                <div class="box-valores">
                    <div class="item-valores">
                        <p>Honestidad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_deal.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Calidad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_plan.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Competividad</p>
                        <figure>
                            <img loading="lazy" src="assets/img/business_competition.svg" alt="imagen">
                        </figure>
                    </div>
                    <div class="item-valores">
                        <p>Trabajo En Equipo</p>
                        <figure>
                            <img loading="lazy" src="assets/img/shared_workspace.svg" alt="imagen">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="flex-footer">
                    <div class="box-information">
                        <div class="icon-title" >
                            <i class="pi pi-map-marker" ></i>
                            <p>Dirección</p>
                        </div>
                        <div class="description">
                            <p>Peatonal 35, Primavera, Duran, Guayaquil 092409</p>
                        </div>
                    </div>
                    <div class="box-information">
                        <div class="icon-title">
                            <i class="pi pi-phone"></i>
                            <p>Teléfono</p>
                        </div>
                        <div class="description">
                            <p>+59342805414</p>
                        </div>
                    </div>
                    <div class="box-information">
                        <div class="icon-title">
                            <i class="pi pi-envelope"></i>
                            <p>Email</p>
                        </div>
                        <div class="description">
                            <p>eldescanso@info.com</p>
                        </div>
                    </div>
                    <div class="box-information">
                        <div class="icon-title">
                            <i class="pi pi-calendar"></i>
                            <p>Horarios</p>
                        </div>
                        <div class="description">
                            <p>Lunes - Domingos <br>9:00 - 19:00</p>
                        </div>
                    </div>
                    <div class="box-information">
                        <div class="icon-title">
                            <i class="pi pi-chart-line"></i>
                            <p>Calificación</p>
                        </div>
                        <div class="description stars">
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                            <i class="pi pi-star-fill"></i>
                        </div>
                    </div>
            </div>
            <hr>
            <div class="social-media">
                <a href="https://facebook.com" target="_blank" class="facebook" pTooltip="Facebook" tooltipPosition="top"><i class="pi pi-facebook" ></i></a>
                <a href="https://twitter.com" target="_blank" class="twitter" pTooltip="Twitter" tooltipPosition="top"><i class="pi pi-twitter" ></i></a>
                <a href="https://instagram.com" target="_blank" class="instagram" pTooltip="Instagram" tooltipPosition="top"><i class="pi pi-instagram" ></i></a>
                <a href="https://whatsapp.com" target="_blank" class="whatsapp" pTooltip="Whatsapp" tooltipPosition="top"><i class="pi pi-whatsapp" ></i></a>
            </div>
            <div class="company">
                <p class="copyright">© 2021 Ferretería | El Descanso . All right reserved</p>
            </div>
        </footer>
    </div>

</section>

