<nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo">
        <a href="/home"><img src="assets/img/logo_app.svg" alt="Logo" width="60px"><p>El Descanso</p></a>  
    </div>
    <ul class="links">
        <li><a href="/home"><i class="pi pi-home"></i> Inicio</a></li>
        <li><a href="/shop"><i class="pi pi-shopping-cart"></i> Tienda</a></li>
    </ul>

    <label for="nav-toggle" class="icon-burger" pRipple (click)="isActive()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>  