section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

main{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

/* NAVBAR */
.nav__container{
    width: 100%;
    margin: auto 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4F46E5;
    height: 60px;
    padding: 0px 5%;
}

.nav__menu{
    height: 100%;
    margin: 0 -16px;
    z-index: 2;
}

.nav__menu__content{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.nav__menu__content > a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0px 15px;
    gap: 0.5em;
}

.nav__menu__content > a:hover{
    background-color: #8f94fb;
}

.nav__menu__option{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    z-index: 1;
}

.nav__menu__cart > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 60%;
    border: none;
    background-color: #8f94fb;
    color: white;
    transition: 0.3s;
}

.nav__menu__cart > button:hover{
    cursor: pointer;
   background-color: #b2b5f3;
}

.nav__user{
    padding: 10px;
    transition: all 0.3s;
    color: white;
}

.nav__user:hover{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    cursor: pointer;
}

.isActiveNavUser{
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}

.isActiveNavOption{
    display: none !important;
}

.nav__user__option{
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9;
    background-color: white;
}

.nav__user__option > p{
   padding: 15px 0px 5px 15px;
   font-weight: 600;
   font-size: 15px;
}

.nav__user__option > a{
   color: black;
   width: 100%;
   text-decoration: none;
   padding: 10px 25px;
   transition: all 0.3s;
   font-size: 14px;
   display: flex;
   flex-flow: row nowrap;
   justify-content: start;
   align-items: center;
   gap: 0.5em;
}

.nav__user__option > a:last-of-type{
   margin-bottom: 10px;
 }

.nav__user__option > a:hover{
   background-color: rgb(238, 238, 238);
 }

.nav__options__content span input{
    width: 450px;
    min-width: 120px;
    max-width: 600px;
    height: 40px;
}

.nav__logo > a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 25px;
}

.hamburger{
    display: block;
    position: relative;
    z-index: 3;
    
    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background-color: white;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;

}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #232526;
}

.hamburger.is-active:hover span{
    background-color: #232526;
}

@media (min-width: 1050px) {
    .hamburger, .nav__menu__content_logo, .nav__menu__content_social, .nav__menu__content__date{
        display: none;
    }               
}

@media (max-width: 1050px) {    
    .hamburger{
        position: absolute;
        right: 40px;
        top: 48px;
    }

    .nav__container{
        height: auto;
       flex-direction: column;
       position: relative;
       width: 100%;
       padding: 0;
    }

    .nav__logo > a > img{
        width: 90px;
    }

    .nav__logo > a{
        padding-top: 30px;
        font-size: 25px;
        padding-right: 15px;
    }
    
    .nav__menu{
        top: 0px;
        left: 0;
        right: 0;
        position: fixed;
        height: 100vh;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.4s ease-in-out;
        width: 100%;
    }

    .nav__menu__content{
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(15px);
        width: 300px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 40px 0px;
    }

    .nav__menu__content > a{
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
        padding: 15px 40px;
        font-size: 15px;
    }

    .nav__menu__content > a:hover{
        background-color: #8f94fb;
        transition: all 0.4 ease-in-out;
    }

    .nav__menu__content_social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        transition: 0.5s ease-in-out;
    }

    .nav__menu__content_social__icons{
        border-top: 1px solid rgb(133, 133, 133);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        color: white;
    }

    .nav__menu__content__date{
        padding: 20px;
        color: white;
        width: 70%;
        position: relative;
        bottom: 0;
        top: 80%;
        text-align: center;
        width: 100%;
    }

    .menu__social__date > p:first-of-type{
        font-size: 14px;
    }

    .nav__menu__content_social__icons > p{
        border-top: 1px solid rgb(133, 133, 133);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        color: white;
    }

    .nav__menu__content_social__icons > a{
       padding: 15px;
       color: white;
    }

    .nav__options{
        width: 100%;
    }

    .nav__options__content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 30px;
        width: 100%;
    }

    .nav__options__content span input{  
        max-width: 600px;
        width: 400px;
    }

    .display{
        transform: translateX(0);
    }

    .isActiveNavOption{
        display: block !important;
    }

    .nav__user__option{
        color: white;
        border: none;
        background-color: #232526;
    }

    .nav__user{
        background-color: #4F46E5;
        width: 100%;
        text-align: center;
        position: absolute;
        top: -50px;
        padding: 15px;
        border-radius: 0px;
     }

     .nav__user:hover{
        background-color: #4F46E5;
       border-radius: 0px;
       cursor: auto;
     }

    .nav__user > p > i:last-of-type{
       display: none;
    }

    .nav__user__option > p{
        padding: 10px 30px;
     }

    .nav__user__option > a{
        padding: 15px 60px;
        color: white;
    }

    .nav__user__option > a:hover{
        background-color: rgba( 255, 255, 255, 0.4 );
    }

    .nav__menu__cart{
        width: 100%;
        position: relative;
        top: 70px;
        background: none;
    }

    .nav__menu__cart > button{
        width: 100%;
        border-radius: 0px; 
        background: none;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 15px 30px;
    }
    
    .nav__menu__cart > button::after{
        content: "Carrito";
        font-size: 15px;
        padding: 0px 10px;
    }

    .nav__menu__cart > button:hover{
        cursor: pointer;
        background-color: #b3b6ff;
    }

}

/* OVERLAY LOGOUT */

.logout{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.logout > p {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* BANNER SHOP */
.banner__shop{
    width: 100%;
    height: 100%;
}

.chips__categories{
    width: 100%;
}

.chip__item{
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 50px; 
    margin-right: 10px;
    margin-bottom: 8px;
    transition: all 0.2s;
}

.chip__item:hover{
    cursor: pointer;
    background-color: #8f94fb;
    color: rgb(241, 241, 241);
    border-color: #8f94fb;
}

.chip__item__active{
    background-color: #4F46E5;
    color: rgb(241, 241, 241);
}

.options__shop{
    width: 85%;
    padding: 30px 0px;
    margin: auto;
}

.options__shop__content{
    background: #FDC830;
    /* background-image: url(./../../../../assets/img/back.svg); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 0px;
    border-radius: 5px;
}

.options__shop__content__card i {
    color: #4F46E5;
    font-size: 40px;
}

.options__shop__content__card p {
    color: #495057;
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
}

.main__content{
    padding: 30px 50px;
}

.card-template{
    border: 1px solid #ccc;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* height: 100%; */
    margin: auto;
    padding: 15px;
    z-index: 9;
}

.carousel__content{
    margin-bottom: 80px;
}

.card-template:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}


.carousel__header > p{
    margin-right: 10px;
    color: #495057;
    font-weight: bold;
    font-size: 20px;
    margin-left: 55px;
}

.carousel__mas > a{
    text-decoration: none;
    color: #4F46E5;
}

.carousel__mas > i{
    padding-left: 5px;
    color: #4F46E5;
    font-size: 14px;
}

.carousel__mas > a:hover{
    text-decoration: underline;
}


.carousel__header > a > i{
    padding-left: 5px;
}

.card__description > p:first-of-type{
    font-size: 16px;
    color: #495057;
    text-align: center;
}

.card__description > p:nth-child(2){
    font-weight: bold;
    font-size: 19px;
    color: #495057;
}

.chips__categories {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.skeleton__categories > p-skeleton{
    display: flex;
    align-items: center;
}


:host ::ng-deep .product-name {
    font-size: 1.2rem;
    font-weight: 700;
}
:host ::ng-deep .product-description {
    margin: 0 0 1rem 0;
}
:host ::ng-deep .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
    vertical-align: middle;
    font-size: 14px;
}

/**/
:host ::ng-deep .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
:host ::ng-deep .product-list-item img {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}
:host ::ng-deep .product-list-item .product-list-detail {
    flex: 1 1 0;
}
:host ::ng-deep .product-list-item .p-rating {
    margin: 0 0 0.5rem 0;
}
:host ::ng-deep .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}
:host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
}
:host ::ng-deep .product-list-item .p-button {
    margin-bottom: 0.5rem;
}

/**/
:host ::ng-deep .product-grid-item {
    margin: 0.5em;
    border: 1px solid #dee2e6;
}
:host ::ng-deep .product-grid-item .product-grid-item-top, :host ::ng-deep .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
    width: 180px;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
    text-align: center;
}
:host ::ng-deep .product-grid-item .product-price {
    font-size: 1.2rem;
    font-weight: 600;
}
.card {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
    :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
   }
    :host ::ng-deep .product-list-item img {
        width: 75%;
        margin: 2rem 0;
   }
    :host ::ng-deep .product-list-item .product-list-detail {
        text-align: center;
   }
    :host ::ng-deep .product-list-item .product-price {
        align-self: center;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
   }
    :host ::ng-deep .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }

   .chips__categories{
       flex-direction: column;
   }

}

.progressBanner{
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000002d;
}

.product-offered{
    background-color: #FFCDD2;
    padding: 2px 20px;
    font-size: 20px;
    color: #C63737;
}