<section>
    <div class="logout" *ngIf=" overlayLogout">
        <p-progressSpinner strokeWidth="3"></p-progressSpinner>
        <p> Cerrando Sesión <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
    </div>
    <nav>
        <ng-template  [ngIf]="!isLogged" [ngIfElse]="logged">
           <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <a href="/login"><i class="pi pi-sign-in"> </i>Iniciar Sesión</a>
                        <a href="/signup"><i class="pi pi-user-plus"> </i>Registrar</a>

                        <div class="nav__menu__content_social">
                            <div class="nav__menu__content_social__icons">
                                <a href="https://twitter.com" target="_blank" class="twitter" pTooltip="Twitter" tooltipPosition="top"><i class="pi pi-twitter" ></i></a>
                                <a href="https://facebook.com" target="_blank" class="facebook" pTooltip="Facebook" tooltipPosition="top"><i class="pi pi-facebook" ></i></a>
                                <a href="https://instagram.com" target="_blank" class="instagram" pTooltip="Instagram" tooltipPosition="top"><i class="pi pi-instagram" ></i></a>
                                <a href="https://whatsapp.com" target="_blank" class="whatsapp" pTooltip="Whatsapp" tooltipPosition="top"><i class="pi pi-whatsapp" ></i></a>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>

        </ng-template>

        <ng-template #logged>
            <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <div class="nav__menu__cart">
                            <button pRipple><i class="pi pi-shopping-cart"></i></button>
                        </div>
                        <div class="nav__menu__option">
                            <div class="nav__user" pRipple (click)="displayOptions()">
                                <p><i class="pi pi-user mr-2"></i>{{user?.user_name}} {{user?.user_lastName}}<i class="pi pi-angle-down"> </i></p>
                            </div>
                            <div class="nav__user__option isActiveNavOption">
                                <p>Opciones</p>
                                <a href=""><i class="pi pi-user"></i> Perfil</a>
                                <a href=""><i class="pi pi-shopping-bag"></i> Pedidos</a>
                                <a href=""><i class="pi pi-th-large"></i> Configuración</a>
                                <p>Sesión</p>
                                <a (click)="logOut()" id="logOut"><i class="pi pi-sign-out"></i> Cerrar Sesión</a>
                            </div>
                        </div>
                        
                        <div class="nav__menu__content__date">
                            <div class="menu__social__date">
                                <p>{{fechaYHora}}</p>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>
        </ng-template>
    </nav>

    <app-scroll-to-up></app-scroll-to-up>
    
    <main>
        <div class="banner__shop">
           <!-- <p>Banner de Promociones</p> -->
           <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%', 'z-index':'-999'}" [numVisible]="5"
           [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
           [showIndicatorsOnItem]="true"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.name" style="width: 100%; height: 100%; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
        <!-- <div class="options__shop">
            <div class="options__shop__content">
                <div class="flex justify-content-evenly align-items-center">
                    <div class="options__shop__content__card">
                        <div class=" flex flex-column justify-content-center align-items-center">
                            <i class="pi pi-shield"></i>
                            <p>Uso fácil, rápido y seguro</p>
                        </div>
                    </div>
                    <div class="options__shop__content__card">
                        <div class=" flex flex-column justify-content-center align-items-center">
                            <i class="pi pi-send"></i>
                            <p>Envíos a Domicilio</p>
                        </div>
                    </div>
                    <div class="options__shop__content__card">
                        <div class=" flex flex-column justify-content-center align-items-center">
                            <i class="pi pi-credit-card"></i>
                            <p>Métodos de pagos online</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="main__content">
            <p-fieldset legend="Categorías">
                <div *ngIf="hide" class="flex align-items-center">
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                    <p-skeleton class="mr-2" height="2rem" width="8rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
                </div>
                <div class="chips__categories flex flex-wrap justify-content-center">
                    <div *ngIf="!hide" class="chip__item chip__item__active flex justify-content-center align-items-center" pRipple (click)="isActiveCategory()">
                        <i class="pi pi-th-large mr-2"></i>
                        <p>Todos</p>
                    </div>
                    <div class="chip__item flex justify-content-center align-items-center" pRipple *ngFor="let category of categories" (click)="isActiveCategory()">
                        <i class="pi pi-th-large mr-2"></i>
                        <p>{{category.category_name}}</p>
                    </div>
                </div>
            </p-fieldset>
            <br>
            <div class="card">
                <p-dataView #dv [value]="products" [paginator]="true" [rows]="8" filterBy="product_name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                    <ng-template pTemplate="header">
                        <div class="flex flex-column md:flex-row md:justify-content-between">
                            <p-dropdown [options]="sortOptions" placeholder="Ordenar por precio" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                            <span class="p-input-icon-left mb-2 md:mb-0">
                                <i class="pi pi-search"></i>
                                <input type="search" pInputText placeholder="Buscar Producto..." (input)="dv.filter($any($event.target).value)">
                            </span>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="listItem">
                        <div class="col-12">
                            <div class="product-list-item">
                                <img [src]="product.product_image ? host+product.product_image : overImage" [alt]="product.product_image"/>
                                <div class="product-list-detail">
                                    <div class="product-name">{{product.product_name}}</div>
                                    <div class="product-description">{{product.product_description}}</div>
                                    <p-rating [ngModel]="product.product_rating" [readonly]="true" [cancel]="false"></p-rating>
                                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
                                </div>
                                <div class="product-list-action">
                                    <span class="product-price">${{product.product_price}}</span>
                                    <p-button  styleClass="p-button-sm" icon="pi pi-shopping-cart" label="Añadir al carrito"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-product pTemplate="gridItem">
                        <div class="col-12 md:col-3">
                            <div class="product-grid-item card">
                                <div class="product-grid-item-top">
                                    <div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{product.category}}</span>
                                    </div>
                                </div>
                                <div class="product-grid-item-content">
                                    <img [src]="product.product_image ? host+product.product_image : overImage" [alt]="product.product_image"/>
                                    <div class="product-name">{{product.product_name}}</div>
                                    <div class="product-description">{{product.product_description}}</div>
                                    <p-rating [iconOnStyle]="{'color':'#f5af19'}" [(ngModel)]="product.product_rating" [readonly]="true" [cancel]="false"></p-rating>
                                </div>
                                <div class="product-grid-item-bottom">
                                    <span class="product-price">${{product.product_price}}</span>
                                    <p-button styleClass="p-button-sm" icon="pi pi-shopping-cart"></p-button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
    </main>

    <footer>
        <div class="box-content-main">
            <div class="box-content">
                <figure>
                    <img loading="lazy" id="logo-img" src="assets/img/logo_app.svg" alt="Logo" width="65px">
                    <p>Ferretería | El Descanso</p>
                </figure>
                <div class="box-content-social">
                    <a href="#" class="facebook"><i class="pi pi-facebook " ></i></a>
                    <a href="#" class="instagram"><i class="pi pi-instagram" ></i></a>
                    <a href="#" class="twitter"><i class="pi pi-twitter" ></i></a>
                    <a href="#" class="whatsapp"><i class="pi pi-whatsapp" ></i></a>
                </div>
            </div>
            <div class="box-content shop">
                <h3>Tienda</h3>
                <div class="box-content-links">
                    <a href="#">- Herramientas</a>
                    <a href="#">- Pinturas</a>
                    <a href="#">- Otros</a>
                </div>
            </div>
            <div class="box-content company">
                <h3>Compañia</h3>
                <div class="box-content-links">
                    <a href="/login">- Login</a>
                    <a href="/signup">- Registro</a>
                    <a href="/contact">- Contacto</a>
                </div>
            </div>
          
            <div class="box-content">
                <h3>Subscripción</h3>
                <div class="box-content-email">
                    <p>Subscribete para estar al día con nuestras actualizaciones!</p>
                        <div class="p-inputgroup"  style="height: 45px">
                            <input type="email" pInputText placeholder="Email">   
                            <button type="button" pButton pRipple icon="pi pi-send" style="background-color: #4F46E5;" styleClass="p-button-warn"></button>      
                        </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="company">
            <p class="copyright">© 2021 Ferretería | El Descanso . All right reserved</p>
        </div>
    </footer>

    
</section>
