<div id="table-prueba">
    <p-table [value]="dataSails" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Quantity</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sail>
            <tr>
                <td>{{sail.create_date}}</td>
                <td>{{sail.voucher}}</td>
                <td>{{sail.category}}</td>
                <td>{{sail.product}}</td>
                <td>{{sail.identification}}</td>
                <td>{{sail.name}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>