<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" [disabled]="loading" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Estado" [disabled]="loading" icon="pi pi-filter" class="p-button-warning mr-2" style="color: rgb(65, 65, 65);" (click)="op.toggle($event)"></button>

            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '180px'}">
                <ng-template pTemplate>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckActive" (onChange)="change($event)" [binary]="true" inputId="active"></p-checkbox>
                        <label for="active">Activo</label>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckInactive" (onChange)="change($event)" [binary]="true" inputId="inactive"></p-checkbox>
                        <label for="inactive">Inactivo</label>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="promotions" [rows]="5" [loading]="loading" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['producto.product_code','producto.product_name','promotion_discount']" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Promociones</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por código ..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="producto.product_code"><i class="pi pi-qrcode"></i> Código <p-sortIcon field="producto.product_code"></p-sortIcon></th>
                <th pSortableColumn="producto.product_name"><i class="pi pi-tag"></i> Producto <p-sortIcon field="producto.product_name"></p-sortIcon></th>
                <th pSortableColumn="promotion_discount"><i class="pi pi-percentage"></i> Descuento <p-sortIcon field="promotion_discount"></p-sortIcon></th>
                <th pSortableColumn="promotion_status"><i class="pi pi-box"></i> Estado <p-sortIcon field="promotion_status"></p-sortIcon></th>
                <th pSortableColumn="promotion_date_start"><i class="pi pi-calendar"></i> Fecha de Inicio <p-sortIcon field="promotion_date_start"></p-sortIcon></th>
                <th pSortableColumn="promotion_date_of_expiry"><i class="pi pi-calendar"></i> Fecha de Fin <p-sortIcon field="promotion_date_of_expiry"></p-sortIcon></th>
                <th pSortableColumn="acciones"><i class="pi pi-inbox"></i> Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-promotion let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>{{promotion.producto.product_code}}</td>
                <td>{{promotion.producto.product_name}}</td>
                <td>{{(promotion.promotion_discount)+'%'}}</td>
                <td>{{promotion.promotion_status == 0 ? 'Inactivo' : 'Activo'}}</td>
                <td>{{promotion.promotion_date_start.slice(0,10)}}</td>
                <td>{{promotion.promotion_date_of_expiry.slice(0,10)}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editPromotion(promotion)"></button>
                    <button [disabled]="promotion.promotion_status == 0" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletePromotion(promotion)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{promotions ? promotions.length : 0 }} promociones.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialogBanner" [draggable]="false" [style]="{width: '1080px'}" header="Detalles de la Promoción" [closeOnEscape]="true" [maximizable]="true" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <div class="field col">
                    <label for="name">Nombre del Producto <span class="inputs__required">*</span></label>
                    <p-dropdown [options]="products" emptyFilterMessage="No se encontraron resultados" [(ngModel)]="promotion.id_product" optionLabel="product_name" optionValue="id_product" placeholder="Seleccione un producto" [virtualScroll]="true" [itemSize]="31" [filter]="true" filterBy="product_name,product_code" filterPlaceholder="Buscar por nombre o código" [showClear]="true"></p-dropdown>
                    <small class="p-error" *ngIf="submitted && !promotion.id_product">Nombre es requerido</small>
                </div>
            </div>
            <div class="field col">
                <label for="productStatus">Estado del Promoción <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="promotion.promotion_status" optionLabel="name" optionValue="id" inputId="productStatus" [options]="states" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && promotion.promotion_status == null">Estado es requerido</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="percent">Descuento <span class="inputs__required">*</span></label>
                <p-inputNumber [(ngModel)]="promotion.promotion_discount" [minFractionDigits]="2" inputId="percent" suffix="%" [placeholder]="'Porcentaje de Descuento'"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && promotion.promotion_discount == null">Descuento es requerido</small>
                <small class="p-error" *ngIf="submitted && promotion.promotion_discount! < 1"> El descuento no puede ser menor a 1%</small>
            </div>
            <div class="field col">
                <label for="buttonbar">Fecha de Inicio <span class="inputs__required">*</span></label>
                <p-calendar [style]="{'z-index':'9'}" [autoZIndex]="false" [disabledDates]="invalidDates" dateFormat="yy-mm-dd" (onSelect)="onSelectDateInit($event)" [(ngModel)]="promotion.promotion_date_start" [showTime]="false" [touchUI]="true" [showButtonBar]="true"></p-calendar>
                <small class="p-error" *ngIf="submitted && promotion.promotion_date_start == null">Fecha culminación es requerido</small>
                <small class="p-error" *ngIf="isShowMessageDateInit">{{!messageErrorDateInit ? 'Fecha no válida, debe ser mayor o igual a la fecha actual' : messageErrorDateInit}}</small>
            </div>
            <div class="field col">
                <label for="buttonbar">Fecha de Culminación <span class="inputs__required">*</span></label>
                <p-calendar [style]="{'z-index':'9'}" [autoZIndex]="false" [disabledDates]="invalidDates" dateFormat="yy-mm-dd" (onSelect)="onSelectDateExpiry($event)" [(ngModel)]="promotion.promotion_date_of_expiry" [showTime]="false" [touchUI]="true" [showButtonBar]="true"></p-calendar>
                <small class="p-error" *ngIf="submitted && promotion.promotion_date_of_expiry == null">Fecha culminación es requerido</small>
                <small class="p-error" *ngIf="isShowMessageDateExpiry">{{!messageErrorDateExpiry ? 'Fecha no válida, debe ser mayor o igual a la fecha actual' : messageErrorDateExpiry}}</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="description">Descripción de la Promoción <span class="inputs__required">*</span></label>
                <textarea id="description" pInputTextarea [(ngModel)]="promotion.promotion_description" required rows="3" cols="20"></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
        <button [disabled]="disableButton" pButton pRipple [label]="actionSelected =='new' ? 'Nuevo' : 'Editar'" icon="pi pi-check" class="p-button-text" (click)="savePromotion()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>