<p-toast></p-toast>

<div class="card">
    <p-tabView [(activeIndex)]="index">
        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-book mr-2"></i>
                <span>Ordenes de Compras</span>
            </ng-template>
           <app-table-purchase-order [purchase_orders]="purchase_orders" [loading]="loading" ></app-table-purchase-order>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate = "header">
                <i class="pi pi-plus mr-2"></i>
                <span>Crear Orden de Compra</span>
            </ng-template>
            <app-create-order></app-create-order>
        </p-tabPanel>
    </p-tabView>
</div>

<!-- <app-overlay-request
    [showOverlay]="showOverlay"
    [loadRequest]="loadRequest"
    [textOverlay]="textOverlay"
    [textResponse]="textResponse"
    [iconResponse]="iconResponse"
></app-overlay-request>
 -->
