*{
    font-size: 15px;
}

.field > label{
    font-weight: bold;
}

.inputs__required{
    color: red;
}

.p-column-title{
    font-weight: 600;
}

@media screen and (max-width: 586px) {
    .input__search{
        margin-top: 10px;
    }
}
