<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button [disabled]="loading" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Estado" icon="pi pi-filter" class="p-button-warning mr-2" style="color: rgb(65, 65, 65);" (click)="op.toggle($event)"></button>
            <!-- <button pButton pRipple label="Actualizar Stock" icon="pi pi-cloud-upload" class="p-button-success mr-2" style="color: rgb(65, 65, 65);" (click)="openModalUpload()"></button> -->

            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '180px'}">
                <ng-template pTemplate>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckActive" (onChange)="change($event)" [binary]="true" inputId="active"></p-checkbox>
                        <label for="active">Activo</label>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckInactive" (onChange)="change($event)" [binary]="true" inputId="inactive"></p-checkbox>
                        <label for="inactive">Inactivo</label>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="buttons__toolbar">
                <button [disabled]="loading" type="button" pButton pRipple icon="pi pi-file" (click)="exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button [disabled]="loading" type="button" pButton pRipple [loading]="loadingPDF" icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-info mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <div id="htmlData">
        <p-table #dt [value]="products" [rows]="5" [loading]="loading" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['product_name', 'product_code']" responsiveLayout="stack"
            [(selection)]="selectedProducts" [rowHover]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="flex flex-wrap align-items-center justify-content-between">
                    <h5 class="m-0">Gestión de Productos</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por nombre o código" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr >
                    <th pSortableColumn="product_code"><i class="pi pi-qrcode"></i> Código <p-sortIcon field="product_code"></p-sortIcon></th>
                    <th pSortableColumn="product_name" style="width: 250px;"><i class="pi pi-book"></i> Nombre <p-sortIcon field="product_name"></p-sortIcon></th>
                    <th><i class="pi pi-image"></i> Imagen</th>
                    <th pSortableColumn="product_price"><i class="pi pi-dollar"></i> Precio <p-sortIcon field="product_price"></p-sortIcon></th>
                    <th pSortableColumn="product_stock"><i class="pi pi-box"></i> Stock <p-sortIcon field="product_stock"></p-sortIcon></th>
                    <th pSortableColumn="create_date"><i class="pi pi-calendar"></i> Fecha de creación <p-sortIcon field="create_date"></p-sortIcon></th>
                    <th pSortableColumn="acciones"><i class="pi pi-inbox"></i> Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td><span class="p-column-title"><i class="pi pi-qrcode"></i> Código: </span>{{product.product_code}}</td>
                    <td><span class="p-column-title mr-7">Nombre: </span> <p style="text-align: justify;">{{product.product_name}}</p></td>
                    <td>
                        <span class="p-column-title"><i class="pi pi-image"></i> Imagen: </span>
                        <img [src]="!product.product_image || product.product_image == 'null' ? overImage : host+product.product_image" [alt]="product.product_name" width="80" height="80" class="shadow-4" />
                    </td>
                    <td><span class="p-column-title"><i class="pi pi-dollar"></i> Precio: </span>{{product.product_price | currency:'USD'}}</td>
                    <td><span class="p-column-title"><i class="pi pi-box"></i> Stock: </span>{{product.product_stock}}</td>
                    <td><span class="p-column-title"><i class="pi pi-calendar"></i> Fecha de creación: </span>{{product.create_date}}</td>
                    <td>
                        <span class="p-column-title"><i class="pi pi-inbox"></i> Acciones: </span>
                        <div class="flex justify-content-end align-items-end">
                            <button pButton [style]="{'width':'45px', 'height':'45px'}" pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editProduct(product)"></button>
                            <button pButton [style]="{'width':'45px', 'height':'45px'}" pRipple [disabled]="product.product_stock != 0 || product.product_status == 0" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    En total hay {{products ? products.length : 0 }} productos.
                </div>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [draggable]="false" [style]="{width: '800px'}" header="Detalles del Producto" [closeOnEscape]="true" [maximizable]="true"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <input type="hidden" [(ngModel)]="actionSelected">
            <label for="name">Imagen del Producto <span class="inputs__required">*</span> </label><br>
            <div class="imageSelect" (click)="photoInput.click()">
                <input [disabled]="inputFile" class="file-input" accept="image/png, .jpeg, .jpg," (change)="getPhotoSelected($event)" type="file" name="file" hidden #photoInput>
                <ng-template [ngIf]="isPhoto" [ngIfElse]="desingImage" >
                    <div class="imgSelected">
                        <img [src]="!product.product_image || product.product_image == 'null' ? overImage : host+product.product_image" [alt]="overImage" height="250px" class="product-image" *ngIf="isPhotoEdit">
                        <img src="{{photoSelected}}" alt="Image" height="250px" *ngIf="!isPhotoEdit">
                    </div>
                </ng-template>
                <ng-template #desingImage>
                    <div class="designeImagen">
                        <i class="pi pi-images"></i>
                        <!-- <span>or Attach you files here</span> -->
                        <p>Click Para Buscar Imagen</p>
                        <p>Tamaño máximo: 4MB</p>
                        <p>Tipo de imagen aceptado: (.png, .jpeg, .jpg)</p>
                    </div>
                </ng-template>
            </div>
            <small class="p-error" *ngIf="fileExtensionValid"><i class="pi pi-exclamation-triangle"></i> Extensión no admitida</small>
            <small class="p-error" *ngIf="sizeFileValid"><i class="pi pi-exclamation-triangle"></i> Tamaño no adminido</small>
            <small class="p-error" *ngIf="submitted && (!product.product_image || !photoSelected)">Imagen es requerido</small>
            <div *ngIf="isPhoto" class="infoPhoto">
                <div class="imgInfoPhoto">
                    <i class="pi pi-image"></i>
                    <div class="infoDescriptionImage">
                        <p *ngIf="isPhotoEdit">{{!product.product_image || product.product_image =='null' ? 'No Imagen' : product.product_image}}</p> 
                        <p *ngIf="!isPhotoEdit">{{fileTmp.fileName}} {{"("+fileSize}} {{descriptionSize+")"}}</p>  
                    </div>
                </div>
                <div class="infoButtonImage">
                    <i class="pi pi-times" (click)="clearImage()" pRipple></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="name">Nombre del Producto <span class="inputs__required">*</span></label>
            <input type="text" required pInputText id="name" [(ngModel)]="product.product_name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.product_name">Nombre es requerido</small>
        </div>
        <div class="field">
            <label for="description">Descripción del Producto <span class="inputs__required">*</span></label>
            <textarea id="description" required pInputTextarea [(ngModel)]="product.product_description" required rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !product.product_description">Descripción es requerido</small>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="code">Código del Producto</label>
                <input type="text" [disabled]="isDisabled" equired pInputText id="code" [(ngModel)]="product.product_code" (input)="regexCode($event)" required/>
                <small class="p-error" *ngIf="submitted && !product.product_code">Código es requerido</small>
            </div>
            <div class="field col">
                <label for="price">Precio del Producto <span class="inputs__required">*</span></label>
                <p-inputNumber [required]="true" id="price" [(ngModel)]="product.product_price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.product_price">Precio es requerido</small>
            </div>
            <div class="field col">
                <label for="productProvider">Proveedor del Producto <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="product.id_provider" optionLabel="provider_name" optionValue="id_provider" inputId="productProvider" [options]="providers" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="pi pi-briefcase mr-2"></i>
                            <span [class]="'product-badge status-' + option.id_provider">{{option.provider_name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !product.id_provider">Proveedor es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
            <label for="productBrand">Marca del Producto <span class="inputs__required">*</span></label>
            <p-dropdown [showClear]="true" [(ngModel)]="product.id_brand" optionLabel="brand_name" optionValue="id_brand" inputId="productBrand" [options]="brands" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <div class="flex flex-row justify-content-start align-items-center">
                        <img class="mr-2" [src]="option.brand_thumbnail ? host+option.brand_thumbnail : overImage" alt=" " width="25px">
                        <span [class]="'product-badge status-' + option.id_brand">{{option.brand_name}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && !product.id_brand">Marca es requerida</small>
            </div>
            <div class="field col">
            <label for="productStatus">Estado del Producto <span class="inputs__required">*</span></label>
            <p-dropdown [showClear]="true" [(ngModel)]="product.product_status" optionLabel="name" optionValue="id" inputId="productStatus" [options]="states" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <div class="flex flex-row justify-content-start align-items-center">
                        <i class="{{option.icon}} mr-2"></i>
                        <span>{{option.name}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            <small class="p-error" *ngIf="submitted && product.product_status == null">Estado es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="id_product_unit">Medida del Producto <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="product.id_product_unit" optionLabel="description_product_unit" optionValue="id_product_unit" inputId="id_product_unit" [options]="measures" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="pi pi-box mr-2"></i>
                            <span>{{option.description_product_unit}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !product.id_product_unit">Medida es requerida</small>
            </div>
            <div class="field col">
                <label for="minmax-buttons">Cantidad del Producto <span class="inputs__required">*</span></label>
                <p-inputNumber [disabled]="!product.id_product_unit" [required]="true" [(ngModel)]="product.product_stock" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="10000"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && product.product_stock == null">Cantidad es requerida</small>
            </div>
            <div class="field col">
                <label for="rating">Rating del Producto <span class="inputs__required">*</span></label>
                <div class="field flex align-items-center justify-content-center flex-nowrap flex-column">
                    <p-rating [iconCancelClass]="'pi pi-trash'" [(ngModel)]="product.product_rating" [cancel]="true" [style]="{'padding-top':'10px'}"></p-rating>
                </div> 
                <small class="p-error" *ngIf="submitted && !product.product_rating">Rating es requerido</small>
            </div>
        </div>

        <div class="field col">    
            <label for="inventoryStatus">Categoría del Producto <span class="inputs__required">*</span></label>
            <div class="flex flex-row justify-content-center align-items-center flex-wrap mt-3">
                <div class="field-checkbox mr-3" *ngFor="let category of categories">
                    <p-radioButton name="category" value={{category.id_category}} [(ngModel)]="product.id_category"></p-radioButton>
                    <label for="{{category.id_category}}">{{category.category_name}}</label>
                </div>
            </div>
            <small class="p-error" *ngIf="submitted && product.id_category == null">Categoría es requerida</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]="actionSelected == 'new' ? 'Nuevo' : 'Editar'" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
