<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-info mr-2" pTooltip="PDF" tooltipPosition="left"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Poductos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="order"><i class="pi pi-sort"></i> Orden</th>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name"><i class="pi pi-book"></i> Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th><i class="pi pi-image"></i> Imagen</th>
                <th pSortableColumn="price"><i class="pi pi-dollar"></i> Precio <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category"><i class="pi pi-tag"></i> Categoría <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating"><i class="pi pi-star"></i> Rating <p-sortIcon field="rating"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                </td>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category}}</td>
                <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{products ? products.length : 0 }} productos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [draggable]="false" [style]="{width: '800px'}" header="Detalles del Producto" [closeOnEscape]="true" [maximizable]="true"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image">
        <div class="field">
            <label for="name">Imagen</label><br>
            
            <div class="imageSelect" (click)="photoInput.click()">
                <input [disabled]="inputFile" class="file-input" accept="image/png, .jpeg, .jpg," (change)="getPhotoSelected($event)" type="file" name="file" hidden #photoInput>
                <ng-template [ngIf]="isPhoto" [ngIfElse]="desingImage" >
                    <div class="imgSelected">
                        <img src="{{photoSelected}}" alt="Image" height="250px">
                    </div>
                </ng-template>
                <ng-template #desingImage>
                    <div class="designeImagen">
                        <i class="pi pi-images"></i>
                        <p>Browse files <span>or Attach you files here</span></p>
                        <p>Accept File Type: (.png, .jpeg, .jpg)</p>
                    </div>
                </ng-template>
            </div>
            <div *ngIf="isPhoto" class="infoPhoto">
                <div class="imgInfoPhoto">
                    <i class="pi pi-image"></i>
                    <div class="infoDescriptionImage">
                        <p>{{file?.name}} {{"("+fileSize}} {{descriptionSize+")"}}</p>  
                    </div>
                </div>
                <div class="infoButtonImage">
                    <i class="pi pi-times" (click)="clearImage()" pRipple></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" required pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Nombre es requerido</small>
        </div>
        <div class="field">
            <label for="description">Descripción</label>
            <textarea id="description" required pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !product.name">Descripción es requerido</small>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Precio</label>
                <p-inputNumber [required]="true" id="price" [(ngModel)]="product.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.name">Precio es requerido</small>
            </div>
            <div class="field col">
                <label for="quantity">Cantidad</label>
                <p-inputNumber [required]="true" id="quantity" [(ngModel)]="product.quantity"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.name">Cantidad es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="inventoryStatus">Proveedor</label>
                <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col">
                <label for="inventoryStatus">Marca</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            </div>
        </div>
        <div class="field col">
            <label for="inventoryStatus">Estado</label>
            <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="field col">    
            <label for="inventoryStatus">Categoría</label>
            <div class="flex flex-row justify-content-evenly align-items-center flex-wrap">
                <div class="field-checkbox mr-3">
                    <p-checkbox name="group1" value="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox>
                    <label for="ny">New York</label>
                </div>
            </div>
            <!-- <p-dropdown [(ngModel)]="product.inventoryStatus" inputId="inventoryStatus" [options]="statuses" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown> -->
        </div>
       
        <div class="field flex align-items-center justify-content-center flex-nowrap flex-column">
            <label for="rating">Rating</label>
            <p-rating [(ngModel)]="val" [cancel]="true" [style]="{'padding-top':'10px'}"></p-rating>
        </div>    
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>