<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-info mr-2" pTooltip="PDF" tooltipPosition="left"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Poductos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="order"><i class="pi pi-sort"></i> Orden</th>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name"><i class="pi pi-book"></i> Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th><i class="pi pi-image"></i> Imagen</th>
                <th pSortableColumn="price"><i class="pi pi-dollar"></i> Precio <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category"><i class="pi pi-tag"></i> Categoría <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="state"><i class="pi pi-bookmark"></i> Estado <p-sortIcon field="state"></p-sortIcon></th>
                <th pSortableColumn="acciones"><i class="pi pi-inbox"></i> Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>
                    <span class="pi pi-bars" [pReorderableRowHandle]="index"></span>
                </td>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>{{product.name}}</td>
                <td><img [src]="product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
                <td>{{product.price | currency:'USD'}}</td>
                <td>{{product.category}}</td>
                <td><span [class]="'product-badge status-' + (product.status ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{products ? products.length : 0 }} productos.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [draggable]="false" [style]="{width: '800px'}" header="Detalles del Producto" [closeOnEscape]="true" [maximizable]="true"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <p-messages [(value)]="msgs1" [enableService]="false" [hidden]="!isError"></p-messages>
            <label for="name">Imagen</label><br>
            <div class="imageSelect" (click)="photoInput.click()">
                <input [disabled]="inputFile" class="file-input" accept="image/png, .jpeg, .jpg," (change)="getPhotoSelected($event)" type="file" name="file" hidden #photoInput>
                <ng-template [ngIf]="isPhoto" [ngIfElse]="desingImage" >
                    <div class="imgSelected">
                        <img [src]="product.product_image" [alt]="product.product_image" height="250px" class="product-image" *ngIf="isPhotoEdit">
                        <img src="{{photoSelected}}" alt="Image" height="250px" *ngIf="!isPhotoEdit">
                    </div>
                </ng-template>
                <ng-template #desingImage>
                    <div class="designeImagen">
                        <i class="pi pi-images"></i>
                        <p>Browse files <span>or Attach you files here</span></p>
                        <p>Accept File Type: (.png, .jpeg, .jpg)</p>
                    </div>
                </ng-template>
            </div>
            <div *ngIf="isPhoto" class="infoPhoto">
                <div class="imgInfoPhoto">
                    <i class="pi pi-image"></i>
                    <div class="infoDescriptionImage">
                        <p>{{fileTmp.fileName}} {{"("+fileSize}} {{descriptionSize+")"}}</p>  
                    </div>
                </div>
                <div class="infoButtonImage">
                    <i class="pi pi-times" (click)="clearImage()" pRipple></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="name">Nombre del Producto</label>
            <input type="text" required pInputText id="name" [(ngModel)]="product.product_name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.product_name">Nombre es requerido</small>
        </div>
        <div class="field">
            <label for="description">Descripción del Producto</label>
            <textarea id="description" required pInputTextarea [(ngModel)]="product.product_description" required rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !product.product_description">Descripción es requerido</small>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="code">Código del Producto</label>
                <input type="text" required pInputText id="code" [(ngModel)]="product.product_code" (input)="regexCode($event)" required/>
                <small class="p-error" *ngIf="submitted && !product.product_code">Código es requerido</small>
            </div>
            <div class="field col">
                <label for="price">Precio del Producto</label>
                <p-inputNumber [required]="true" id="price" [(ngModel)]="product.product_price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.product_price">Precio es requerido</small>
            </div>
            <div class="field col">
                <label for="quantity">Cantidad del Producto</label>
                <p-inputNumber [required]="true" id="quantity" [(ngModel)]="product.product_stock"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.product_stock">Cantidad es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="productProvider">Proveedor del Producto</label>
                <p-dropdown [showClear]="true" [(ngModel)]="product.id_provider" optionLabel="provider_name" optionValue="id_provider" inputId="productProvider" [options]="providers" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="pi pi-building mr-2"></i>
                            <span [class]="'product-badge status-' + option.id_provider">{{option.provider_name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col">
            <label for="productBrand">Marca del Producto</label>
            <p-dropdown [showClear]="true" [(ngModel)]="product.id_brand" optionLabel="brand_name" optionValue="id" inputId="productBrand" [options]="brands" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <div class="flex flex-row justify-content-start align-items-center">
                        <img class="mr-2" [src]="option.thumbnail" alt="Marca" width="25px">
                        <span [class]="'product-badge status-' + option.id_brand">{{option.brand_name}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="productStatus">Estado del Producto</label>
            <p-dropdown [showClear]="true" [(ngModel)]="product.product_status" optionLabel="name" optionValue="id" inputId="productStatus" [options]="states" placeholder="Seleccionar">
                <ng-template let-option pTemplate="item">
                    <div class="flex flex-row justify-content-start align-items-center">
                        <i class="{{option.icon}} mr-2"></i>
                        <span [class]="'product-badge status-' + option.id">{{option.name}}</span>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="field col">
                <label for="rating">Rating del Producto</label>
                <div class="field flex align-items-center justify-content-center flex-nowrap flex-column">
                    <p-rating [iconCancelClass]="'pi pi-trash'" [(ngModel)]="product.product_rating" [cancel]="true" [style]="{'padding-top':'10px'}"></p-rating>
                </div> 
            </div>
        </div>

        <div class="field col">    
            <label for="inventoryStatus">Categorías del Producto</label>
            <div class="flex flex-row justify-content-center align-items-center flex-wrap mt-3">
                <div class="field-checkbox mr-3" *ngFor="let category of categories | sortByOrder">
                    <p-checkbox name="group1" value="{{category.id}}" [(ngModel)]="categorieSelected" inputId="{{category.id}}"></p-checkbox>
                    <label for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Nuevo" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>