.sugerencias-content{
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 7px;
}

.sugerencias-list{
    font-size: 13px;
    padding-left: 25px;
}

.title-sugerencias{
    font-size: 13px;
    padding-bottom: 7px;
    font-weight: bold;
}