<ng-template [ngIf]="isShow">
    <section>
        <div class="back-page">
            <ng-template [ngIf]="isLoading" [ngIfElse]="showResponse">
                <div class="spinner__text">
                    <p-progressSpinner></p-progressSpinner>
                    <p>Cambiando Contraseña</p>
                </div>
            </ng-template>
        
            <ng-template #showResponse>
                <div class="response__text">
                    <i class="pi pi-check-circle"></i>
                    <p>Completado con éxito</p>
                    <button pRipple (click)="redirectLogin()">Finalizar</button>
                </div>
            </ng-template>
        </div>
    </section>
</ng-template>
