<ng-template [ngIf]="isShow">
    <section>
        <div class="back-page">
            <ng-template [ngIf]="isLoading" [ngIfElse]="showResponse">
                <div class="spinner__text">
                    <p-progressSpinner></p-progressSpinner>
                    <p>Cambiando Contraseña</p>
                </div>
            </ng-template>
        
            <ng-template #showResponse>
                <div class="response__text">
                    <i class="pi pi-check-circle"></i>
                    <p>¡Completado con éxito!</p>
                    <p style="font-size: 12px; display: flex; justify-content: center; align-items: center; gap: 1em;"><i class="pi pi-info-circle" style="color: #4F46E5;"></i> Para visualizar los cambios, por favor vuelva a ingresar.</p>
                    <button pRipple (click)="redirectLogin()">Volver a Ingresar <i class="pi pi-sign-in"></i></button>
                </div>
            </ng-template>
        </div>
    </section>
</ng-template>
