<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-4">
        <div class="flex flex-wrap align-items-center">
            <label class="mr-2" for="fechaInicio">Fecha Inicio:</label>
            <p-calendar inputId="basic" dateFormat="yy/mm/dd" [(ngModel)]="fechaInicio" [showIcon]="true" [touchUI]="true" [readonlyInput]="true" [showButtonBar]="true" ></p-calendar>
            <label class="ml-2 mr-2" for="fechaFin">Fecha Fin:</label>
            <p-calendar class="mr-2" inputId="basic" dateFormat="yy/mm/dd" [(ngModel)]="fechaFin" [showIcon]="true" [touchUI]="true" [readonlyInput]="true" [showButtonBar]="true" ></p-calendar>
            <button [disabled]="!fechaInicio || !fechaFin || fechaFin < fechaInicio || loading" type="button" pButton pRipple icon="pi pi-file-pdf" label="Generar Reporte" (click)="exportPDF()" class="p-button-info" pTooltip="PDF" tooltipPosition="right"></button>
        </div>
        <div class="flex flex-wrap justify-content-start align-items-center">
            <button style="color: black;" pButton label="Nuevo" class="p-button-warning" icon="pi pi-plus" (click)="openNewModal()"></button>
        </div>
    </p-toolbar>
    <p-table #dt [value]="egresos" [rows]="5" [loading]="loading" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['order.user.user_name','order.user.user_name','order.voucher_number']" responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Egresos</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Nombre cliente o comprobante..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="user.user_name"><i class="pi pi-user"></i> Código del Producto<p-sortIcon field="user.user_name"></p-sortIcon></th>
                <th pSortableColumn="user.user_name"><i class="pi pi-user"></i> Movimiento<p-sortIcon field="user.user_name"></p-sortIcon></th>
                <th pSortableColumn="order.voucher_number"><i class="pi pi-qrcode"></i> Cantidad egresada <p-sortIcon field="order.voucher_number"></p-sortIcon></th>
                <th pSortableColumn="order.voucher_number"><i class="pi pi-qrcode"></i> Descripción<p-sortIcon field="order.voucher_number"></p-sortIcon></th>
                <th pSortableColumn="create_date"><i class="pi pi-calendar"></i> Fecha de creación <p-sortIcon field="create_date"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-egreso let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td>a</td>
                <!-- <td>{{egreso.inventory_movement_type}}</td>
                <td>{{(egreso.inventory_stock_amount).toString().split('.')[0]}}</td>
                <td>{{egreso.inventory_description}}</td>
                <td>{{egreso.create_date}}</td> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Registros Totales: {{egresos ? egresos.length : 0 }}
            </div>
        </ng-template>
    </p-table>
</div>

<!-- <p-dialog header="Query SQL" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
    <p>{{aud.audit_query}}</p>
</p-dialog> -->

<p-dialog header="Nuevo Egreso" [(visible)]="displayNewModal" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <label for="name">Nombre del Producto</label>
                <p-dropdown [options]="products" [(ngModel)]="egresoAux.id_product" optionLabel="product_name" (onChange)="onChange($event)" optionValue="id_product" placeholder="Seleccione un producto" [virtualScroll]="true" [itemSize]="31" [filter]="true" filterBy="product_name,product_code" filterPlaceholder="Buscar por nombre o código" [showClear]="true"></p-dropdown>
                <small class="p-error" *ngIf="submitted && !egresoAux.id_product">Nombre es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="option">Descripción del Egreso</label>
                <p-dropdown [disabled]="!egresoAux.id_product" (onChange)="onChangeDescription($event)" [showClear]="true" [(ngModel)]="inventory_description" optionLabel="label" optionValue="label" inputId="option" [options]="descriptionOption" placeholder="Seleccionar Descripción">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.label}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !inventory_description">Descripción es requerido</small>
            </div>
            <div class="field col">
                <label for="minmax-buttons">Cantidad del Producto</label>
                <p-inputNumber [disabled]="!egresoAux.id_product" [(ngModel)]="egresoAux.inventory_stock_amount" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="maxAmountProduct"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && egresoAux.inventory_stock_amount == null">Cantidad es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="optionAux">Descripción de Otro</label>
                <textarea [disabled]="inventory_description != 'OTRO'" id="optionAux" placeholder='Describa si el motivo del egreso es "OTRO"' [autoResize]="true" required pInputTextarea [(ngModel)]="inventory_description_aux" required rows="4" cols="30"></textarea>
                <small class="p-error" *ngIf="submitted && (!inventory_description_aux && inventory_description == 'OTRO') ">Descripción es requerido</small>
            </div>
        </div>
    </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideNewModal()"></button>
            <p-button icon="pi pi-check" (click)="newEgreso()" label="Nuevo" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>