<section>
    <div class="cards__options">
        <div class="card__option__item ventas" (click)="actionSelect = 'sails'" pRipple>
            <div class="card__item">
                <p>222</p>
                <p>Ventas</p>
            </div>
            <div class="card__icon">
                <i class="pi pi-shopping-cart"></i>
            </div>
        </div>
        <div class="card__option__item productos" (click)="actionSelect = 'products'" pRipple>
            <div class="card__item">
                <p>222</p>
                <p>Productos</p>
            </div>
            <div class="card__icon">
                <i class="pi pi-tags"></i>
            </div>
        </div>
        <!-- <div class="card__option__item usuarios" (click)="actionSelect = 'users'" pRipple>
            <div class="card__item">
                <p>222</p>
                <p>Usuarios</p>
            </div>
            <div class="card__icon">
                <i class="pi pi-user"></i>
            </div>
        </div> -->
        <div class="card__option__item stock" (click)="actionSelect = 'stock'" pRipple>
            <div class="card__item">
                <p>222</p>
                <p>Stock</p>
            </div>
            <div class="card__icon">
                <i class="pi pi-box"></i>
            </div>
        </div>
    </div>
</section>

<div class="content__graphycs flex justify-content-center">
    <ng-template [ngIf]="actionSelect == 'sails'">
        <div class="titleGraphyc">
            <p class="titleGraphyc">Ventas</p>
            <p-chart type="line" [data]="dataSails" width="70vw" [options]="basicOptions"></p-chart>
        </div>
    </ng-template>

    <ng-template [ngIf]="actionSelect == 'products'">
        <div class="titleGraphyc">
            <p class="titleGraphyc">Productos</p>
            <p-chart type="bar" [data]="dataProducts" width="70vw" [options]="basicOptions"></p-chart>
        </div>
    </ng-template>

    <!-- <ng-template [ngIf]="actionSelect == 'users'">
        <div class="titleGraphyc">
            <p class="titleGraphyc">Usuarios</p>
            <p-chart type="bar" [data]="basicData" width="70vw" [options]="basicOptions"></p-chart>
        </div>
    </ng-template> -->

    <ng-template [ngIf]="actionSelect == 'stock'">
        <div style="width: 40%;" class="flex flex-column justify-content-center">
            <p class="parrafo">Stock</p>
            <p-chart type="polarArea" [data]="dataStock"></p-chart>
        </div>
    </ng-template>
</div>
