<section>
    <p-dialog header="Creación del IVA" [breakpoints]="{'960px': '75vw'}" [(visible)]="displayModal" (onHide)="closeModal()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <label for="porcent">Porcentaje <span class="inputs__required">*</span></label>
                <p-inputNumber [(ngModel)]="manageIva.porcent" [showButtons]="true" inputId="porcent" suffix="%" [min]="0"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && (manageIva.porcent == null || !manageIva.porcent)">Porcentaje es requerido</small>
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label for="productStatus">Estado</label>
                <span class="p-input-icon-left">
                    <i class="pi pi-check-circle"></i>
                    <input type="text" pInputText placeholder="Activo" [disabled]="status" [(ngModel)]="status" />
                </span>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-times" (click)="closeModal()" label="Cancelar" styleClass="p-button-text p-button-danger"></p-button>
            <p-button icon="pi pi-check" (click)="updateIva()" label="Crear" styleClass="p-button-outlined"></p-button>
        </ng-template>
    </p-dialog>
</section>
