<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Información Personal
        </ng-template>
        <ng-template pTemplate="subtitle">
            Ingresa tu información personal
        </ng-template>
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <div class="flex flex-column">
                        <label for="firstname">Nombres</label>
                        <input #firstname="ngModel" [disabled]="true" id="firstname" type="text" required pInputText [(ngModel)]="user.user_name" [pKeyFilter]="regexLetterSpace" autofocus> 
                        <small *ngIf="submitted && !user.user_name" class="p-error">Nombre es requerido</small>
                    </div>
                </div>
                <div class="field col">
                    <div class="flex flex-column">
                        <label for="lastname">Apellidos</label>
                        <input #lastname="ngModel" [disabled]="true" id="lastname" type="text" required pInputText [(ngModel)]="user.user_lastName" [pKeyFilter]="regexLetterSpace"> 
                        <small class="p-error" *ngIf="submitted && !user.user_lastName">Apellido es requerido</small>
                    </div>
                </div>

                <div class="field col">
                    <div class="flex flex-column">
                        <label for="document">Cédula de Identidad</label>
                        <input #age="ngModel" [disabled]="true" id="document" type="text" required pInputText [(ngModel)]="user.user_document"> 
                    </div>
                </div>
            </div>

            <p class="title__description">Datos de Envío</p>
            <div class="formgrid grid">
                <div class="field col">
                    <div class="flex flex-column">
                        <label for="address">Dirección</label>
                        <p-dropdown [options]="optionsAddress" [(ngModel)]="idAddressSelected" placeholder="Seleccione una dirección" optionLabel="user_address" optionValue="id_address" [showClear]="true">
                            <ng-template let-optionAddress pTemplate="item">
                                <div class="item-option-address">
                                    <i class="pi pi-map-marker mr-2 mt-2"></i>
                                    <div class="address__detail">
                                        <p class="address">{{optionAddress.user_address}}</p>
                                        <p class="address__description">{{!optionAddress.address_description_aux ? optionAddress.address_description : optionAddress.address_description_aux}}</p>
                                    </div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <small class="p-error" *ngIf="submitted && !idAddressSelected">Dirección es requerida</small>
                    </div>
                </div>
                <div class="field col">
                    <div class="flex flex-column">
                        <label for="reference">Lugar de Referencia</label>
                        <input #age="ngModel" id="reference" type="text" required pInputText [(ngModel)]="user.user_address_reference"> 
                        <small class="p-error" *ngIf="submitted">{{!user.user_address_reference ? 'Referencia es requerida' : user.user_address_reference && user.user_address_reference.length < 5 ? 'Referencia es muy corta' : ''}}</small>
                    </div>
                </div>
                <div class="field col">
                    <div class="flex flex-column">
                        <label for="age">Celular</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <img class="mr-2" [src]="urlImage" width="30"> <p>(+593)</p>  
                            </span>
                            <input type="text" [(ngModel)]="phoneUser"  [imask]="{mask: '00 000 0000'}" pInputText placeholder="99 999 9999">      
                        </div>
                        <small class="p-error" *ngIf="submitted">{{!phoneUser ? 'Celular es requerido' : phoneUser && phoneUser.length < 11 ? 'Celular es requerido' : ''}}</small>
                    </div>
                </div>
            </div>
        </ng-template>

        
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Siguiente" (onClick)="validateData()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
