<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button [disabled]="loading" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button [disabled]="loading" pButton pRipple label="Estado" icon="pi pi-filter" class="p-button-warning mr-2" style="color: rgb(65, 65, 65);" (click)="op.toggle($event)"></button>

            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '180px'}">
                <ng-template pTemplate>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckActive" (onChange)="change($event)" [binary]="true" inputId="active"></p-checkbox>
                        <label for="active">Activo</label>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckInactive" (onChange)="change($event)" [binary]="true" inputId="inactive"></p-checkbox>
                        <label for="inactive">Inactivo</label>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </ng-template>

        <ng-template pTemplate="right">
            <div class="buttons__toolbar">
                <button [disabled]="loading" type="button" pButton pRipple icon="pi pi-file" (click)="exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button [disabled]="loading" type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-info mr-2" pTooltip="PDF" tooltipPosition="left"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="providers" [rows]="5" [loading]="loading" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['provider_name','provider_products_offered']" responsiveLayout="stack" [rowHover]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Proveedores</h5>
                <span class="p-input-icon-left input__search">
                    <i class="pi pi-search"></i>
                    <input pInputText style="width: 400px;" type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por nombre o descripción de productos" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="provider_name"><i class="pi pi-book"></i> Nombre<p-sortIcon field="provider_name"></p-sortIcon></th>
                <th pSortableColumn="id_type_provider"><i class="pi pi-globe"></i> Localidad<p-sortIcon field="id_type_provider"></p-sortIcon></th>
                <th pSortableColumn="provider_address"><i class="pi pi-map-marker"></i> Dirección <p-sortIcon field="provider_address"></p-sortIcon></th>
                <th pSortableColumn="provider_email"><i class="pi pi-envelope"></i> Correo Electrónico <p-sortIcon field="provider_email"></p-sortIcon></th>
                <th pSortableColumn="provider_landline"><i class="pi pi-phone"></i> Teléfono fijo <p-sortIcon field="provider_landline"></p-sortIcon></th>
                <th pSortableColumn="provider_response_time"><i class="pi pi-history"></i> Tiempo de Respuesta<p-sortIcon field="provider_response_time"></p-sortIcon></th>
                <th pSortableColumn="acciones"><i class="pi pi-inbox"></i> Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-provider>
            <tr>
                <td><span class="p-column-title"><i class="pi pi-book"></i> Nombre: </span>{{provider.provider_name}}</td>
                <td>
                    <span class="p-column-title"><i class="pi pi-globe"></i> Localidad: </span>
                    {{provider.id_type_provider == 1 ? 'Local' : provider.id_type_provider == 2 ? 'Nacional' : provider.id_type_provider == 3 ? 'Internacional' : ''}}
                </td>
                <td><span class="p-column-title"><i class="pi pi-map-marker"></i> Dirección: </span>{{provider.provider_address}}</td>
                <td><span class="p-column-title"><i class="pi pi-envelope"></i> Correo Electrónico: </span>{{provider.provider_email}}</td>
                <td><span class="p-column-title"><i class="pi pi-phone"></i> Teléfono fijo: </span>{{provider.provider_landline}}</td>
                <td>
                    <span class="p-column-title"><i class="pi pi-history"></i> Tiempo de Respuesta: </span>
                    Días : {{provider.provider_response_time_day}} Horas : {{provider.provider_response_time_hour}}
                </td>
                <td>
                    <span class="p-column-title"><i class="pi pi-inbox"></i> Acciones: </span>
                    <div class="flex justify-content-end align-items-end">
                        <button [disabled]="provider.provider_name ==='NO_DEFINIDO'" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editProvider(provider)"></button>
                        <button [disabled]="provider.provider_status == 0 || provider.provider_name ==='NO_DEFINIDO'" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProvider(provider)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{providers ? providers.length : 0 }} proveedores.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [draggable]="false" [style]="{width: '800px'}" header="Detalles del Proveedor" [closeOnEscape]="true" [maximizable]="true"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="formgrid grid">
            <div class="field col">
                <label for="name">Nombre del Proveedor <span class="inputs__required">*</span></label>
                <input type="text" required pInputText id="name" [(ngModel)]="provider.provider_name" required autofocus />
                <small class="p-error" *ngIf="submitted && !provider.provider_name">Nombre es requerido</small>
            </div>
            <div class="field col">    
                <label for="productStatus">Tipo de Proveedor <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="provider.id_type_provider" optionLabel="type_provider_name" optionValue="id_type_provider" inputId="productStatus" [options]="types_provider" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="pi pi-directions mr-2"></i>
                            <span>{{option.type_provider_name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && provider.id_type_provider == null">Tipo de proveedor es requerido</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="productStatus">Calificado el Proveedor <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="provider.provider_qualified" optionLabel="name" optionValue="id" inputId="productStatus" [options]="qualified" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && provider.provider_qualified == null">Calificación es requerida</small>
            </div>
            <div class="field col">
                <label for="productStatus">Estado del Proveedor <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="provider.provider_status" optionLabel="name" optionValue="id" inputId="productStatus" [options]="states" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && provider.provider_status ==null">Estado es requerido</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="identificationType">Tipo de Identificación <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="provider.id_identification_type" (onChange)="changeIdentification($event)" optionLabel="name" optionValue="id" inputId="identificationType" [options]="identificationType" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !provider.id_identification_type">Tipo de identificación es requerido</small>
            </div>
            <div class="field col">
                <label for="code">Identificación del Proveedor <span class="inputs__required">*</span></label>
                <input type="text" [disabled]="!provider.id_identification_type" [maxlength]="maxLength" required pInputText id="code" [(ngModel)]="provider.provider_identification" (input)="regexCode($event)" required/>
                <small class="p-error" *ngIf="(submitted && !provider.provider_identification) || (stateIdentification && provider.provider_identification)">{{!provider.provider_identification ? 'Identificación requerida' : messageIdentification}}</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="name">Dirección del Proveedor <span class="inputs__required">*</span></label>
                <input type="text" required pInputText id="name" [(ngModel)]="provider.provider_address" placeholder="Ejemplo: Av. 9 De Octubre" required autofocus />
                <small class="p-error" *ngIf="submitted && !provider.provider_address">Dirección es requerida</small>
            </div>
            <div class="field col">
                <label for="name">Correo Electrónico del Proveedor <span class="inputs__required">*</span></label>
                <input type="text" placeholder="example@xyz.com" required pInputText id="name" [(ngModel)]="provider.provider_email" required autofocus />
                <small class="p-error" *ngIf="submitted && !provider.provider_email">Nombre es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="description">Productos Ofertados por el Proveedor <span class="inputs__required">*</span></label>
                <textarea id="description" required pInputTextarea [(ngModel)]="provider.provider_products_offered" rows="5" cols="20" [autoResize]="true"></textarea>
                <small class="p-error" *ngIf="submitted && !provider.provider_products_offered">Descripción es requerida</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="phone">Celular del Proveedor <span class="inputs__required">*</span></label>
                <p-inputMask id="phone" mask="(+999) 99 999 9999" [(ngModel)]="provider.provider_phone" placeholder="(+999) 99 999 9999"></p-inputMask>
                <small class="p-error" *ngIf="submitted && !provider.provider_phone">Celular es requerido</small>
            </div>
            <div class="field col">
                <label for="phone">Teléfono fijo del Proveedor <span class="inputs__required">*</span></label>
                <p-inputMask id="phone" mask="(99) 9999999" [(ngModel)]="provider.provider_landline" placeholder="(99) 9999999"></p-inputMask>
                <small class="p-error" *ngIf="submitted && !provider.provider_landline">Teléfono es requerido</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="web">Página Web del Proveedor</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">www.</span>
                    <input id="web" [(ngModel)]="provider.provider_web_page" type="text" pInputText placeholder="Website">      
                </div>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="name">Nombres del Encargado <span class="inputs__required">*</span></label>
                <input type="text" required pInputText id="name" [(ngModel)]="provider.provider_person_name" required autofocus />
                <small class="p-error" *ngIf="submitted && !provider.provider_person_name">Nombre es requerido</small>
            </div>
            <div class="field col">
                <label for="name">Apellidos del Encargado <span class="inputs__required">*</span></label>
                <input type="text" required pInputText id="name" [(ngModel)]="provider.provider_person_lastName" required autofocus />
                <small class="p-error" *ngIf="submitted && !provider.provider_person_lastName">Apellido es requerido</small>
            </div>
        </div>
        <div class="flex flex-column" style="border: 2px solid #e9ecee; margin: 0px 1px; border-radius: 5px; padding: 10px;">
            <p style="color: #495057; font-weight: bold; text-align: center;">Detalles del Tiempo de Entrega del Proveedor</p>   
            <div class="formgrid grid" style="padding: 15px;">
                <div class="field col">
                    <label for="minmax-buttons">Tiempo en Días <span class="inputs__required">*</span></label>
                    <p-inputNumber [(ngModel)]="provider.provider_response_time_day" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="365"></p-inputNumber>
                    <small class="p-error" *ngIf="submitted && provider.provider_response_time_day == null">Tiempo de respuesta es requerido</small>
                </div>
                <div class="field col">
                    <label for="minmax-buttons">Tiempo en Horas <span class="inputs__required">*</span></label>
                    <p-inputNumber [(ngModel)]="provider.provider_response_time_hour" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="24"></p-inputNumber>
                    <small class="p-error" *ngIf="submitted && provider.provider_response_time_hour == null">Tiempo en horas es requerido</small>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple [label]="actionSelected == 'new' ? 'Nuevo' : 'Editar'" icon="pi pi-check" class="p-button-text" (click)="saveProvider()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '550px'}"></p-confirmDialog>