<p-toast></p-toast>

<div class="stepsdemo-content">
    <p-messages *ngIf="showMessage" [(value)]="msg"></p-messages>
    <p-card>
        <ng-template pTemplate="title">
            Método de Pago
        </ng-template>
        <ng-template pTemplate="subtitle">
            Seleccione el método de pago
        </ng-template>
        <ng-template pTemplate="content">
           
            <div class="button__paypal">
                <div class="button__paypal__content">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Regresar" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

<ng-template [ngIf]="showOverlay">
    <div class="overlayProcess">
        <div class="styleOverlayProcess">
            <ng-template [ngIf]="loadOrder" [ngIfElse]="completeOrder">
                <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                <p class="loadText"> {{textOverlay}} <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
            </ng-template>
            
            <ng-template #completeOrder>
                <div class="complete__order flex flex-column justify-content-center align-items-center">
                    <i [class]="iconResponse"></i>
                    <p>{{textResponse}}</p>
    
                    <ng-template [ngIf]="showButtons">
                        <div class="buttons__response">
                            <button class="button__home" (click)="goHome()"><i class="pi pi-home mr-2"></i>Ir Tienda</button>
                            <ng-template [ngIf]="showButtonOrders">
                                <button class="button__response" (click)="redirection()"><i class="pi pi-shopping-bag mr-2" ></i>Ver Pedidos</button>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
    
</ng-template>