<p-toast></p-toast>
<div *ngIf="showOverlay" class="overlayProcess">
    <p-progressSpinner strokeWidth="3"></p-progressSpinner>
    <p> Generando Pedido <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
</div>
<div class="stepsdemo-content">
    <p-messages *ngIf="showMessage" [(value)]="msg"></p-messages>
    <p-card>
        <ng-template pTemplate="title">
            Método de Pago
        </ng-template>
        <ng-template pTemplate="subtitle">
            Seleccione el método de pago
        </ng-template>
        <ng-template pTemplate="content">
           
            <div class="button__paypal">
                <div class="button__paypal__content">
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Regresar" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>