<section>
    <nav>
        <input type="checkbox" id="nav-toggle">
        <div class="logo">
            <a href="/home"><img loading="lazy" src="assets/img/logo_app.svg" alt="Logo" width="70px"><p>El Descanso</p></a>
        </div>
        <ul class="links">
            <li *ngFor="let item of itemNavigation">
                <a href="{{item.url}}"><i class="{{item.icon}}"></i> {{item.description}}</a>
            </li>
        </ul>

        <label for="nav-toggle" class="icon-burger" pRipple (click)="isActive()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>

    <app-button-up></app-button-up>

    <main class="content">
        <div id="home" class="shop-link header" >
            <div class="content-shop">
                <p>¡TODO LO QUE BUSCAS EN UN SOLO LUGAR!</p>
                <p>Infórmate de todos nuestros productos, ofertas y más. Adicionalmente podrás comprar de forma online y segura.</p>
                <div class="button-shop">
                    <button class="button-tienda" [routerLink]="['/shop']" pRipple>Comprar<i class="pi pi-shopping-cart"></i></button>
                </div>
            </div>
            <div class="img-shop" data-aos="zoom-in-left" data-aos-duration="3000"  data-aos-once="false">
                <figure>
                    <img loading="lazy" src="assets/img/women_tools.png" alt="">
                </figure>
            </div>
        </div>

        <div id="products" class="stock-products header">
            <h1>Contamos con un amplio stock de:</h1>
            <div class="stock-content">
                <div style="width: 100%;" *ngIf="loading" class="flex flex-wrap justify-content-between">
                    <p-skeleton width="250px" height="300px" borderRadius="10"></p-skeleton>
                    <p-skeleton width="250px" height="300px" borderRadius="10"></p-skeleton>
                    <p-skeleton width="250px" height="300px" borderRadius="10"></p-skeleton>
                    <p-skeleton width="250px" height="300px" borderRadius="10"></p-skeleton>
                </div>
                <div class="card-stock" data-aos="fade-up" *ngFor="let category of categories">
                    <figure>
                        <img [src]="category.category_thumbnail ? host+category.category_thumbnail : overImage" [alt]="category.category_thumbnail" width="100px">
                    </figure>

                    <div class="overlay">
                        <p>{{category?.category_name}}</p>
                        <!-- <button [routerLink]="'/shop'" class="overlay-button" pRipple>Ver más<i class="pi pi-arrow-right"></i></button> -->
                    </div>
                </div>
            </div>
        </div>

        <div id="services" class="header">
            <div class="card-contact">
               <figure data-aos="fade-up" data-aos-duration="2000">
                   <img loading="lazy" src="assets/img/contact_us.svg" alt="Foto-contact">
               </figure>
               <section>
                   <h3 class="title-card-contact">Servicios Qué Ofrecemos!</h3>
                  <div class="card-service-content">
                    <ul class="list-service">
                        <li><i class="pi pi-check"></i> Pedidos online</li>
                        <li><i class="pi pi-check"></i> Copia de llaves</li>
                        <li><i class="pi pi-check"></i> Banco de herramientas</li>
                        <li><i class="pi pi-check"></i> Instrucciones online</li>
                        <li><i class="pi pi-check"></i> Entrega a domicilio</li>
                    </ul>
                  </div>
                   <button class="button-contact" [routerLink]="['/contact']" pRipple>Contáctanos <i class="pi pi-chevron-right"></i></button>
               </section>
           </div>
        </div>

        <div class="carousel header" id="brands">
            <p>DISTRIBUIMOS Y REPRESENTAMOS MARCAS DE LA MEJOR CALIDAD</p>
            <p-carousel styleClass="custom-carousel" [value]="brands" [numVisible]="3" [autoplayInterval]="2000" [circular]="true" [numScroll]="2" [page]="0" [responsiveOptions]="responsiveOptions">
                <ng-template let-brand pTemplate="item">
                    <div class="img-brands">
                        <img loading="lazy" [src]="brand?.brand_thumbnail ? host+brand?.brand_thumbnail : overImage" [alt]="brand?.thumbnail">
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </main>

    <app-footer></app-footer>
</section>

