section{
  overflow: hidden;
  height: 100%;
}

/* Contenido Principal*/
main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.stock-products{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-products > h1{
  font-size: 2em;
  padding-bottom: 30px;
  color: #3f3f3f;
}

#services{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: #FDC830;
  margin-top: 5rem;
}

.carousel{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel > p{
  color: #3f3f3f;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 6.875rem;
}

/* Querys */
@media screen and (max-width: 1130px){
  #services{
    height: 100%;
    padding: 40px 0px;
  }
}
