<section>
  <nav>
    <app-navigation-home></app-navigation-home>
  </nav>

  <app-button-up></app-button-up>

  <main class="content">
    <div id="home">
      <app-detail-home></app-detail-home>
    </div>

    <div id="products" class="stock-products header">
      <h1>Contamos con un amplio stock de:</h1>
      <app-products-home></app-products-home>
    </div>

    <div id="services" class="header">
      <app-service-home></app-service-home>
    </div>

    <div class="carousel header" id="brands">
      <p>DISTRIBUIMOS Y REPRESENTAMOS MARCAS DE LA MEJOR CALIDAD</p>
      <app-carousel-home></app-carousel-home>
    </div>
  </main>

  <app-footer></app-footer>
</section>

