<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Estado" icon="pi pi-filter" class="p-button-warning mr-2" style="color: rgb(65, 65, 65);" (click)="op.toggle($event)"></button>

            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '180px'}">
                <ng-template pTemplate>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckActive" (onChange)="change($event)" [binary]="true" inputId="active"></p-checkbox>
                        <label for="active">Activo</label>
                    </div>
                    <div class="field-checkbox">
                        <p-checkbox [(ngModel)]="stateCheckInactive" (onChange)="change($event)" [binary]="true" inputId="inactive"></p-checkbox>
                        <label for="inactive">Inactivo</label>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="banners" [rows]="5" [loading]="loading" [rowsPerPageOptions]="[5,10,15]" [paginator]="true" [globalFilterFields]="['brand_name']" responsiveLayout="stack" [rowHover]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap align-items-center justify-content-between">
                <h5 class="m-0">Gestión de Banners</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por nombre..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="banner_name"><i class="pi pi-tag"></i> Nombre <p-sortIcon field="banner_name"></p-sortIcon></th>
                <th><i class="pi pi-image"></i> Imagen</th>
                <th pSortableColumn="banner_status"><i class="pi pi-box"></i> Estado <p-sortIcon field="banner_status"></p-sortIcon></th>
                <th pSortableColumn="create_date"><i class="pi pi-calendar"></i> Fecha de creación <p-sortIcon field="create_date"></p-sortIcon></th>
                <th pSortableColumn="acciones"><i class="pi pi-inbox"></i> Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-banner let-columns="columns" let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td><span class="p-column-title"><i class="pi pi-tag"></i> Nombre: </span>{{banner.banner_name}}</td>
                <td>
                    <span class="p-column-title"><i class="pi pi-image"></i> Imagen: </span>
                    <img [src]="!banner.banner_thumbnail || banner.banner_thumbnail== null ? overImage : host+banner.banner_thumbnail" [alt]="banner.banner_thumbnail" width="80" height="80" class="shadow-4" />
                </td>
                <td><span class="p-column-title"><i class="pi pi-box"></i> Estado: </span>{{banner.banner_status == 0 ? 'Inactivo' : 'Activo'}}</td>
                <td><span class="p-column-title"><i class="pi pi-calendar"></i> Fecha de Creación: </span>{{banner.create_date}}</td>
                <td>
                    <span class="p-column-title"><i class="pi pi-inbox"></i> Acciones: </span>
                    <div class="flex justify-content-end align-items-end">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editBanner(banner)"></button>
                        <button [disabled]="banner.banner_status == 0" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteBanner(banner)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                En total hay {{banners ? banners.length : 0 }} banners.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialogBanner" [draggable]="false" [style]="{width: '800px'}" header="Detalles del Banner" [closeOnEscape]="true" [maximizable]="true"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <input type="hidden" [(ngModel)]="actionSelected">
            <label for="name">Imagen del Banner <span class="inputs__required">*</span></label><br>
            <div class="imageSelect" (click)="photoInput.click()">
                <input [disabled]="inputFile" class="file-input" accept="image/png, .jpeg, .jpg," (change)="getPhotoSelected($event)" type="file" name="file" hidden #photoInput>
                <ng-template [ngIf]="isPhoto" [ngIfElse]="desingImage" >
                    <div class="imgSelected">
                        <img [src]="!banner.banner_thumbnail || banner.banner_thumbnail=='null' ? overImage : host+banner.banner_thumbnail" [alt]="banner.banner_thumbnail" height="250px" class="product-image" *ngIf="isPhotoEdit">
                        <img src="{{photoSelected}}" alt="Image" height="250px" *ngIf="!isPhotoEdit">
                    </div>
                </ng-template>
                <ng-template #desingImage>
                    <div class="designeImagen">
                        <i class="pi pi-images"></i>
                        <p>Click Para Buscar Imagen</p>
                        <p>Tamaño máximo: 4MB</p>
                        <p>Tipo de imagen aceptado: (.png, .jpeg, .jpg)</p>
                    </div>
                </ng-template>
            </div>
            <small class="p-error" *ngIf="fileExtensionValid"><i class="pi pi-exclamation-triangle"></i> Extensión no admitida</small>
            <small class="p-error" *ngIf="sizeFileValid"><i class="pi pi-exclamation-triangle"></i> Tamaño no adminido</small>
            <small class="p-error" *ngIf="submitted && (!banner.banner_thumbnail || !photoSelected)">Imagen es requerida</small>
            <div *ngIf="isPhoto" class="infoPhoto">
                <div class="imgInfoPhoto">
                    <i class="pi pi-image"></i>
                    <div class="infoDescriptionImage">
                        <p *ngIf="isPhotoEdit">{{!banner.banner_thumbnail || banner.banner_thumbnail == 'null' ? 'No Imagen' : banner.banner_thumbnail}}</p> 
                        <p *ngIf="!isPhotoEdit">{{fileTmp.fileName}} {{"("+fileSize}} {{descriptionSize+")"}}</p>  
                    </div>
                </div>
                <div class="infoButtonImage">
                    <i class="pi pi-times" (click)="clearImage()" pRipple></i>
                </div>
            </div>
        </div>
        
        <div class="formgrid grid">
            <div class="field col">
                <div class="field col">
                    <label for="name">Nombre del Banner <span class="inputs__required">*</span></label>
                    <input type="text" required pInputText id="name" [(ngModel)]="banner.banner_name" required autofocus />
                    <small class="p-error" *ngIf="submitted && !banner.banner_name">Nombre es requerido</small>
                </div>
            </div>
            <div class="field col">
                <label for="productStatus">Estado del Banner <span class="inputs__required">*</span></label>
                <p-dropdown [showClear]="true" [(ngModel)]="banner.banner_status" optionLabel="name" optionValue="id" inputId="productStatus" [options]="states" placeholder="Seleccionar">
                    <ng-template let-option pTemplate="item">
                        <div class="flex flex-row justify-content-start align-items-center">
                            <i class="{{option.icon}} mr-2"></i>
                            <span>{{option.name}}</span>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && banner.banner_status == null">Estado es requerido</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="description">Descripción del Banner</label>
                <textarea id="description" required pInputTextarea [(ngModel)]="banner.banner_description" required rows="3" cols="20"></textarea>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Nuevo" icon="pi pi-check" class="p-button-text" (click)="saveBanner()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>