<section>
    <!-- nav -->
    <nav>
        <div class="logout" *ngIf="overlayLogout">
            <p-progressSpinner strokeWidth="3"></p-progressSpinner>
            <p> Cerrando Sesión <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
        </div>
        
        <ng-template  [ngIf]="!isLogged" [ngIfElse]="logged">
           <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <a href="/login"><i class="pi pi-sign-in"> </i>Iniciar Sesión</a>
                        <a href="/signup"><i class="pi pi-user-plus"> </i>Registrar</a>
    
                        <div class="nav__menu__content_social">
                            <div class="nav__menu__content_social__icons">
                                <a href="https://twitter.com" target="_blank" class="twitter" pTooltip="Twitter" tooltipPosition="top"><i class="pi pi-twitter" ></i></a>
                                <a href="https://facebook.com" target="_blank" class="facebook" pTooltip="Facebook" tooltipPosition="top"><i class="pi pi-facebook" ></i></a>
                                <a href="https://instagram.com" target="_blank" class="instagram" pTooltip="Instagram" tooltipPosition="top"><i class="pi pi-instagram" ></i></a>
                                <a href="https://whatsapp.com" target="_blank" class="whatsapp" pTooltip="Whatsapp" tooltipPosition="top"><i class="pi pi-whatsapp" ></i></a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>
    
        </ng-template>
    
        <ng-template #logged>
            <div class="nav__container">
                <div class="nav__logo">
                    <a href="/shop"><img src="assets/img/logo_app.svg" alt="" width="60px">El Descanso</a>
                </div>
                <div class="nav__menu">
                    <div class="nav__menu__content">
                        <div class="nav__menu__cart">
                            <button pRipple (click)="goCart()"><i class="pi pi-shopping-cart"></i></button>
                        </div>
                        <div class="nav__menu__option">
                            <div class="nav__user" pRipple (click)="displayOptions()">
                                <p><i class="pi pi-user mr-1"></i>{{user?.user_name}} {{user?.user_lastName}}<i class="pi pi-angle-down ml-3"> </i></p>
                            </div>
                            <div class="nav__user__option isActiveNavOption">
                                <p>Opciones</p>
                                <a href="/my-orders"><i class="pi pi-shopping-bag"></i> Pedidos</a>
                                <a href="/configuración"><i class="pi pi-cog"></i> Configuración</a>
                                <p>Sesión</p>
                                <a style="cursor: pointer;" (click)="logOut()" id="logOut"><i class="pi pi-sign-out"></i> Cerrar Sesión</a>
                            </div>
                        </div>
    
                    </div>
                </div>
                <button class="hamburger" (click)="isActive()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           </div>
        </ng-template>
    </nav>

    <main>
        <div class="table__pedidos">
            <p-table #dt [value]="pedidos" responsiveLayout="scroll" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [globalFilterFields]="['id_order', 'order.order_status.order_status_description']"  responsiveLayout="scroll"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} pedidos" [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Listado de Pedidos
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar por orden o estado..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id_order"><i class="pi pi-qrcode"></i> N° Orden <p-sortIcon field="id_order"></p-sortIcon></th>
                        <th pSortableColumn="create_date"><i class="pi pi-calendar"></i> Fecha de Pedido <p-sortIcon field="create_date"></p-sortIcon></th>
                        <th pSortableColumn="order.order_price_total"><i class="pi pi-dollar"></i> Total <p-sortIcon field="order.order_price_total"></p-sortIcon></th>
                        <th pSortableColumn="order.order_status.order_status_description"><i class="pi pi-clock"></i> Estado <p-sortIcon field="order.order_status.order_status_description"></p-sortIcon></th>
                        <th><i class="pi pi-th-large"></i> Ver Detalles</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>{{pedido.orders[0].i.id_order}}</td>
                        <td>{{pedido.orders[0].i.order.create_date}}</td>
                        <td>${{pedido.orders[0].i.order.order_price_total}}</td>
                        <td>
                            <p [class]="'status__order__'+(pedido.orders[0].i.order.order_status.order_status_description).toLowerCase()"> 
                                {{pedido.orders[0].i.order.order_status.order_status_description}}
                            </p>
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-eye" (click)="viewPDF(pedido)" class="p-button-info"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </main>

    <app-footer-shop></app-footer-shop>
</section>
