<section>
    <div class="nav__header">
        <div class="nav__aside">
            <div class="nav__aside__header">
                <i class="pi pi-slack"></i>
                <p [hidden]="isHidden">El Descanso</p>
            </div>
            <div class="nav__aside__content">
                <div class="nav__aside__item active" pRipple>
                    <i class="pi pi-th-large"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
                <div class="nav__aside__item" pRipple>
                    <i class="pi pi-user"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
                <div class="nav__aside__item" pRipple>
                    <i class="pi pi-bookmark"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
                <div class="nav__aside__item" pRipple>
                    <i class="pi pi-comments"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
                <div class="nav__aside__item" pRipple>
                    <i class="pi pi-chart-bar"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
                <div class="nav__aside__footer" pRipple>
                    <i class="pi pi-power-off"></i>
                    <p [hidden]="isHidden">Dashboard</p>
                </div>
            </div>
        </div>

        <div class="header__main">
            <div class="header__main__content">
                <div class="header__icon styled-box-purple" pRipple (click)="showNavbar()">
                    <i class="pi pi-bars icon-toggle"></i>
                </div>
                <div class="header__profile styled-box-purple" pRipple>
                    <p>Oscar Peñafiel <i class="pi pi-angle-down"></i></p>
                </div>
            </div>
            <div class="main__content">
                <p>Mainasdasdas</p>
            </div>
        </div>
    </div>

</section>