<ng-template [ngIf]="showOverlay">
    <div class="overlayProcess">
        <div class="styleOverlayProcess">
            <ng-template [ngIf]="loadRequest" [ngIfElse]="completeRequest">
                <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                <p class="loadText"> {{textOverlay}} <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
            </ng-template>
            
            <ng-template #completeRequest>
                <div class="complete__order flex flex-column justify-content-center align-items-center">
                    <i [class]="iconResponse"></i>
                    <p class="text__response">{{textResponse}}</p>
    
                    <ng-template [ngIf]="existProducstError">
                        <p class="text__more__detail flex justify-content-center align-items-center" (click)="showDetails()">Mostrar Detalles <i class="icon__detail pi pi-arrow-up-right"></i></p>
                    </ng-template>

                    <ng-template [ngIf]="showButtons">
                        <div class="buttons__response">
                            <button *ngIf="isButtonHome" class="button__home" (click)="goHome()"><i class="pi pi-home mr-2"></i>Ir Tienda</button>
                            <ng-template [ngIf]="showButtonDynamic">
                                <button class="button__response" (click)="redirection()"><i [class]="iconButton" ></i>{{textButton}}</button>
                            </ng-template>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="isPurchaseOrder!">
                        <button class="button__response mt-3" (click)="closeOverlay()">Continuar <i class="pi pi-chevron-right"></i></button>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
    
</ng-template>

<p-dialog [header]="textHeaderModal!" styleClass="p-datatable-sm" [(visible)]="display" [modal]="true" [breakpoints]="{'960px': '80vw'}" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">

        <div class="detil__products__error">
            <p-table #dt [value]="productsError!" [rowHover]="true" responsiveLayout="stack" [rows]="3" [paginator]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <ng-template [ngIf]="isChangePromotion">
                            <th>Promoción Anterior</th>
                            <th>Promoción Actual</th>
                        </ng-template>

                        <ng-template [ngIf]="isStockError">
                            <th>Stock Disponible</th>
                            <th>Cantidad Elegida</th>
                        </ng-template>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <span class="p-column-title">Imagen: </span>
                            <img [src]="product.product_image == null || !product.product_image ? overImage : host+product.product_image" [alt]="product.product_name" width="75px">
                        </td>
                        <td><span class="p-column-title">Producto: </span> {{product.name}}</td>
                        <ng-template [ngIf]="isChangePromotion">
                            <td><span class="p-column-title">Promoción Anterior: </span> {{product.promotion_previous}}</td>
                            <td><span class="p-column-title">Promoción Actual: </span> {{product.promotion_currenty}}</td>
                        </ng-template>

                        <ng-template [ngIf]="isStockError">
                            <td><span class="p-column-title">Stock Disponible: </span> {{product.stock}}</td>
                            <td><span class="p-column-title">Cantidad Elegida: </span> {{product.quantity}}</td>
                        </ng-template>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <ng-template pTemplate="footer">
        </ng-template>
</p-dialog>