<ng-template [ngIf]="showOverlay">
    <div class="overlayProcess">
        <div class="styleOverlayProcess">
            <ng-template [ngIf]="loadRequest" [ngIfElse]="completeRequest">
                <p-progressSpinner strokeWidth="3"></p-progressSpinner>
                <p class="loadText"> {{textOverlay}} <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
            </ng-template>
            
            <ng-template #completeRequest>
                <div class="complete__order flex flex-column justify-content-center align-items-center">
                    <i [class]="iconResponse"></i>
                    <p>{{textResponse}}</p>
    
                    <ng-template [ngIf]="showButtons">
                        <div class="buttons__response">
                            <button class="button__home" (click)="goHome()"><i class="pi pi-home mr-2"></i>Ir Tienda</button>
                            <ng-template [ngIf]="showButtonDynamic">
                                <button class="button__response" (click)="redirection()"><i [class]="iconButton" ></i>{{textButton}}</button>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
    </div>
    
</ng-template>