.unselected{
    text-decoration: line-through;
}

:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.infor__provider{
    color: rgb(75, 75, 75);
    font-weight: 600;
}

.infor__provider span{
    color: black;
    font-weight: lighter;
}