<p-toast></p-toast>
<div class="overlayLoading" *ngIf="overlay">
    <p-progressSpinner strokeWidth="3"></p-progressSpinner>
    <p> Actualizando Datos <span class="one">. </span><span class="two">. </span><span class="three">. </span>​</p>
</div>
<h2>Actualización de Productos</h2>
<br>
<p-fileUpload [fileLimit]="1" [chooseLabel]="'Seleccionar'" [invalidFileTypeMessageSummary]="invalidFileTypeMessageSummary" [invalidFileTypeMessageDetail]="invalidFileTypeMessageDetail" [customUpload]="true" (uploadHandler)="upLoadFile($event)" [uploadLabel]="'Subir'" [cancelLabel]="'Borrar'" [cancelIcon]="'pi pi-trash'" [showCancelButton]="true" (onSelect)="onUpload($event)" accept=".xlsx , .csv" [maxFileSize]="1000000">
    <ng-template let-file pTemplate="file">
        <div *ngIf="visible" class="flex justify-content-evenly align-items-center">
            <div><img [src]="imageExcel" alt="image" width="50px"></div>
            <div>{{file.name}}</div>
            <div>{{(file.size/1000).toFixed(2)}} {{descriptionSize}}</div>
        </div>
    </ng-template>
</p-fileUpload>
